@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import "../sass/cross_browser_opacity.scss";
@import "../sass/general_enclosed_foundicons.scss";
@import "../sass/general_foundicons.scss";
@import "../sass/fonts.scss";
  


$small_width: 620px;
$back_colour: #FFE0D7;
$font_size: 14px;
$page_width: 80em;
$border: none;
$centered: 0 auto;
$lato: 'Lato', sans-serif;
$min_width: 20em;
$cube: url("../images/cubes.png") repeat fixed 60% 0 transparent;
$nav_color: #607890;
$sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$purple: #C5C4F8;
$salmon: #FABFBA;
$babyblue: #D8F6FF;
$palepink: #F0E0E2;
$green: #81FFAF;;
$cream: #FFF6F1;
$pink: #FAC0FF;
$circle: 13.714em;

/*header{

    background-color: black;
    height: 2em;
    margin-top:-.1em;
    position: fixed;
    width: 100%;
    z-index: 10;
}*/

.clearfloat
{
	float:none;
	clear:both;
}


body {
	background: $back_colour;
	border: $border;
	font-family: $lato;
/*	min-width:$min_width;*/
  font-size:16px;
  @media screen and (max-width: $small_width), only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
        width:100%;
        margin:$centered; }


#test{
  width:100%;
  height:auto;
}
	background: $cube;
	#container{ 
	max-width:$page_width;
	/*min-width:$min_width;*/
margin:$centered;
margin-top:.5em;
min-height:50em;
@media screen and (max-width: $small_width), only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  max-width:100%;
  margin:$centered;
}
}


/* ==========================================================================
   Top Right Navigation
   ========================================================================== */

	nav {
	max-width: 20em;
	border: $border;
	float:right;
	display:block;
 @media screen and (max-width: $small_width), only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

     float:none;
     margin-bottom:1em;
    }
		a {
		text-decoration:none;
		color: $nav_color;
		padding: 0 1em;
		font-size:2em;
		font-weight: 300;
		}

	
}
}


/* ==========================================================================
   Always Visible Arrow
   ========================================================================== */

.trigger{
   color:#fff;
    left: 95%;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 50px;
    z-index: 100;
    text-decoration: none;
    border:none;
    i {
      border:none;

    }
}
a{
  border:none;
}

.scroll a, .hideclick a {
  color:white;
   border:none;
  a, i{
    text-decoration: none;
    border:none;

  }
}

.foundicon-up-arrow:before {
font-family: "GeneralFoundIcons";
font-weight: normal;
font-style: normal;
text-decoration: none;
border:none;
.foundicon-up-arrow:{}
.general{}
}

/* ==========================================================================
   First Page
   ========================================================================== */


#home
{
  margin:$centered;
margin-top:.5em;
max-width:$page_width;

}

#location
{
  
margin-left:-1em;
 @media screen and (max-width: 854px + 14px) {
margin-left:-2em;
     } 
}

/* ==========================================================================
   Intro Selection
   ========================================================================== */

#intro {
  width:16em;
	border:$border;
	margin-left:2em;
	float:left;
	margin-top:.5em;
	/*font-family:$lato;*/
	font-size:3em;
	font-weight:300;
	font-family: $sans;
	letter-spacing:-3px;
   @media screen and (max-width: 1215px) {
 width:auto;
 font-size:2.8em;
     }
   @media screen and (max-width: 1095px) {

  width:auto;
  font-size:270%;
     }
     @media screen and (max-width: 1024px) {
width:auto;
font-size:2.5em;
     }
       @media screen and (max-width: 925px + 20px) {
width:auto;
font-size:2.3em;
     }
     @media screen and (max-width: 834px + 64px) {
width:60%;
font-size:2.2em;
     } 
      @media screen and (max-width: 854px + 14px) {
width:100%;
font-size:2em;
     } 
        @media screen and (max-width: 854px + 14px) {
          width:auto;


     } 

     @media screen and (max-width: $small_width), only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
      display:none;
    }

	h1::first-letter {
	font-weight:300;
	/*font-size:1.6em;*/
	margin-left:-.8em;
	
   @media screen and (max-width: 854px + 14px) {
width:auto;
letter-spacing:-1px;

     } }

  #name {
  font-size:1.4em;
  padding:.1em;
  vertical-align:baseline;
  }


}

/* ==========================================================================
   Navigation
   ========================================================================== */


#selection {

	border:$border;
  height:100%;
	margin-top:.2em;
  @media screen and (max-width: $small_width),only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
font-size: 20px;
width:100%; }
	
	a {
	color:black;
	font-weight:500;
	font-family: $oswald;
	font-variant:small-caps;
	letter-spacing:.1em;
	}
   	.cube {
   	position: relative;
   	min-height:3em;
   	padding-top:2em;
    text-align: center;
   width: 16.64%; /*13.3em*/
    background: $green;
    float:left;
    text-align:center;
    @media screen and (max-width: 1054px) {
     width:20%;
     } 
     @media screen and (max-width: $small_width),only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
font-size: 20px;
width:100%; }
   	
   	}

   	.empty {
   	@extend .cube;
   	background:none;
   	height:10.857em;
   	display:block;
   	vertical-align:baseline;
   	}

   	.cubepink {
   	@extend .cube;
   	background:$pink;
   	}


   	.cubeblue {
   	@extend .cube;
   	background:$babyblue;
    @media screen and (max-width: 1054px) {
     width:10%;
     } 
    @media only screen and (max-width: $small_width), only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
     display:none;
    }
   	}

   	.cubecream {
   	@extend .cube;
   	background:$cream;
     @media screen and (max-width: 1054px) {
     width:10%;
     }    
      @media screen and (max-width: $small_width) {
     display:none;
     }
   	}

   	.cubepalepink {
   	@extend .cube;
   	background:$palepink;
   	}

   	.cubesalmon {
   	@extend .cube;
   	background:$salmon;
   	}
   	.cubepurple {
   	@extend .cube;
   	background:$purple;
   	}

}

@mixin page_tab($color: none){
  max-width:$page_width - 4.5em;
  min-height:20em;
  border:$border;
  @include opacity(60);
    @if $color != none {
    background: lighten($color, 0%);
    padding:2em;

   @media screen and (max-width: $small_width){
       display:none;
      }
    }
}

@each $tab_color in green, cream, pink, palepink, purple, blue {
$colourr:none;
  ##{$tab_color} {
  @if($tab_color == green){
  $colourr: $green;
  }
  @if($tab_color == cream){
  $colourr: $cream;
  }
  @if($tab_color == pink)
  {
  $colourr: $pink;
  }
   @if($tab_color == palepink)
  {
  $colourr: $palepink;
  }
  @if($tab_color == blue)
  {
  $colourr: $babyblue;
  }
  @if($tab_color == purple)
  {
  $colourr: $purple;
  }

  @include page_tab($colourr); 
  } 
}


 #triangle{
      margin:$centered;
   max-width:$page_width;
   height:auto;
   border:$border;
  }

  

/* ==========================================================================
   SVG Graphic
   ========================================================================== */

svg{
    width:auto;
    height:auto;
  }

   #testT{

   height:425px;
   margin:$centered;
   max-width:$page_width;

  // height:300px;
  // background-image: url('../images/clearback.png');
      @media screen and (max-width: 904px) {
     max-width:$page_width/1.2;
     }    
      @media screen and (max-width: $small_width) {
     display:none;
     }
  }


/* ==========================================================================
   Content Section
   ========================================================================== */

#content
{
@include page_tab;
@include opacity(100);
min-height:0;
 @media screen and (max-width: $small_width) {
       width:auto;
      }
   
  .maincontainer{
    border:$border;
    width:85%;
    margin-top:1em;
    margin:1em auto;
  }
h1 {
  border:$border;
  font-size:2em;
  color:black;
  @include opacity(100);

}
}


/* ==========================================================================
   About Container
   ========================================================================== */

#about {
background: url("../images/ESCHERESQUE_STE.png") repeat fixed 100% 0 transparent;
margin:$centered;
 min-height: 30em; 
 height:auto;
 padding-top:4.938em;

 @media screen and (max-width: 850px){
  height:50em;
 }
}
.aboutContainer{
  line-height:.75em;
  vertical-align:baseline;
  margin:$centered;
  padding: 0;
  position: relative;
  max-width: 60em;
   @media screen and (max-width: 850px){
  width:100%;
  margin:0 auto;
  padding:0;
  text-align:center;
  float:none;
  clear:both;
 }
}

.blurbContain{
  max-width:28.750em;
  display:inline;
  float:left;
  margin-left:0.625em;
  margin-right:0.625em;
  vertical-align: baseline;

   
}
.blurbAbout{
  padding-right:3.750em;
color:white;
font-weight:100;
  p{
     line-height: 1.438em;
     margin-bottom:1.375em;
  }
  h3 {
      font-size: 2em;
      padding:0;
      margin:0;
    line-height: 2em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
   @media screen and (max-width: 860px){
  padding:0;position:relative;
  margin:0 auto;
  padding:0;
  text-align:center;
  float:none;
  clear:both;
  width:20em;
 }
  @media screen and (max-width: 780px){
  width:30em;
position:relative;
  margin:0 auto; 
 }
  
}
.size22{
  font-weight:400;
  font-size:1.375em;
  line-height: 1.938em;
  p {
    margin-bottom:1.375em
  }
}

.blurbRight{
  max-width:28.750em;
  margin:0;
  margin-right:.625em;
  margin-left:0.625em;
font-size:.75em;
font-weight:400;
  vertical-align: baseline;
  display:block;
  float:left;
  display:inline;
}

.features 
{
  color:white;
  font-family:$sans;
  line-height:.750em;
  vertical-align: baseline;
  margin:0;

  ul{
    position:relative;
  }
  
  li:after {
    background-color: pink;
    content: "";
    height: 100%;
    left: 2.375em;
    position: absolute;
    top: 1.063em;
    width:.063em;
    padding-bottom: 2.938em;
  }
  .design{
    line-height:.75em;
  }
  li p {
      
      
       top:.6em;
  }
  li{
    position:relative;
  }
  ul.features li:last-child:after {
    background-color: transparent;
  }
  ol, ul {
    list-style:none outside none;
  }

  h4{
    font-size: 1.125em;
    line-height: 1.125em;
    margin-bottom: 0.750em;
    text-transform: uppercase;
    vertical-align: baseline;
   
    list-style-position: outside;
    border-image-width:1 1 1 1;
    color:#88939A;
    font-weight:400;
  }
  p{ 
    margin:0;
    padding:0;
    vertical-align: baseline;
  line-height: 1.438em;
}


//.spritesheet.icndesign    { background-position: 0 3.250em; width: 3.063em; height: 2.563em;  background-position: 0 -9688em; }
.icn {
    background-color: #89949B;
    border-radius: 100% 100% 100% 100%;
    display: block;
    float: left;
    height: 4.875em;
    left: 0;
    line-height: 4.750em;
    margin-right: 2.500em;
    position: absolute;
    text-align: center;
    top: 1.063em;
    transition: background 0.2s linear 0s;
    width: 4.875em;
    z-index: 1;
    padding: 0;
    vertical-align:middle;
}
li:after{
      background-color: #E8E8E8;
      content: '';
      position: absolute;
      left: 2.375em;
      top: 1.063em;
      height: 100%;
      width: 1px;
      line-height: 4.750em;
    } 
}//end features ul

ul.features{ position: relative; }
  ul.features li {
      padding-bottom: 2.938em;
      padding-left: 7.500em;
      position: relative;
  }
    ul.features li:after{
      background-color: #E8E8E8;
      content: '';
      position: absolute;
      left: 2.375em;
      top: 1.063em;
      height: 100%;
      width: 1px;
      line-height: 4.750em;
    } 
     ul.features li:last-child:after { background-color: transparent; padding-bottom:2.938em; }
    ul.features li span.icn {
      background-color: #89949B;
      border-radius: 100% 100% 100% 100%;
      display: block;
      float: left;
      height: 4.875em;
      left: 0;
      line-height:  4.750em;
      margin-right: 2.50em;
      position: absolute;
      text-align: center;
      -webkit-transition: background 0.2s linear 0s;
      -moz-transition: background 0.2s linear 0s;
      -o-transition: background 0.2s linear 0s;
      -ms-transition: background 0.2s linear 0s;
      transition: background 0.2s linear 0s;
      top: 1.063em;
      width: 4.875em;
      z-index: 1;
    }
    
      ul.features li span.icn > span { vertical-align: middle; }
      ul.features li span.icn > span.spritesheet.icnbranding{ top:0.250em; }
      
      ul.features li span.icn:hover{ background-color: #A1AEB7; }

.spritesheet {
       background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}
.spritesheet .icndesign {
    background-position: 0 -3.250em;
    height: 2.563em;
    width: 2.938em;
     vertical-align:middle;
     text-align:center;
}

/* ==========================================================================
   Web Work Container
   ========================================================================== */

#webWork {
background: white ;
margin:$centered;
 min-height: 30em; 
 padding-top:4.938em;
 line-height:2em;
}

.webContainer{
  @extend .aboutContainer;
 
    font-family: $lato;
  
    font-weight:100;
 font-size:1em;
  line-height:2em;
  h2{
  font-size:2.4em;
 }
}



/* ==========================================================================
   Footer
   ========================================================================== */


footer{
  border:$border;

  margin:$centered;
  height:5em;
     margin:$centered;
   max-width:$page_width;
//  background:rgba(000, 000, 255, 0.1);
@media screen and (max-width: $small_width), only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  width:auto;
}
}

#footer #ul {
  list-style: none;
  display:inline;
}


 
    
/* ==========================================================================
   Circle Effect 
   ========================================================================== */
.ch-grid {
    margin: 0px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 15.714em;
    border:$border;
    float:left;
   
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
	font-size:14px;
    width: $circle;
    height: $circle;
    display: inline-block;
    margin: 0px;
}
ch-item {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow:
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}


.ch-img-1 {
    background-image: url("../images/invert.png");
    background-size: 100%;
}
.ch-img-2 {
    background-image: url("../images/2.jpg");
}
.ch-img-3 {
    background-image: url("../images/3.jpg");
}
 

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow:
        inset 0 0 0 0 rgba(000,000,000, 0.4),
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}


.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    backface-visibility: hidden;
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 65px 0 0 0;
    height: 7.857142885714286 em;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow:
        0 0 1px #fff,
        0 1px 2px rgba(0,0,0,0.3);
}
 
.ch-info p {
    color: #fff;
    font-style: italic;
    margin: 0px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}
 
.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    font-family: 'Open Sans', Arial, sans-serif;
}
 
.ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
    box-shadow:
        inset 0 0 0 110px rgba(255, 224, 215, 1.0),
        inset 0 0 0 16px rgba(255,255,255,0.8),
        0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
    opacity: 1;
    transform: scale(1);   
}

/****END CIRCLE EFFECT ****/
