/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import "../sass/cross_browser_opacity.scss";

$small_width: 620px;
$back_colour: #FFE0D7;
$font_size: 14px;
$page_width: 80em;
$border: none;
$centered: 0 auto;
$lato: 'Lato', sans-serif;
$min_width: 20em;
$cube: url("../images/cubes.png") repeat fixed 60% 0 transparent;
$nav_color: #607890;
$sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$purple: #C5C4F8;
$salmon: #FABFBA;
$babyblue: #D8F6FF;
$palepink: #F0E0E2;
$green: #81FFAF;;
$cream: #FFF6F1;
$pink: #FAC0FF;
$circle: 13.714em;
$shattered: url("../images/shattered.png") repeat fixed 60% 0 transparent;
$lined: url("../images/linedpaper.png") repeat fixed 60% 0 transparent;
$ag: url("../images/polonez_car.png") repeat fixed 60% 0 transparent;
$pw: url("../images/pw_pattern.png") repeat fixed 60% 0 transparent;
$esch: url("../images/ESCHERESQUE.png") repeat fixed 100% 0 transparent;
$carbon:url("../images/subtle_carbon.png") repeat fixed 100% 0 transparent;
$squares:url("../images/gradient_squares.png") repeat fixed 100% 0 transparent;
$luxury:url("../images/fake_luxury.png") repeat fixed 100% 0 transparent;
$triangle: url("../images/gplaypattern.png") repeat fixed 100% 0 transparent;
$diamond: url("../images/diamond_upholstery.png") repeat fixed 100% 0 transparent;
$dots: url("../images/worn_dots.png") repeat fixed 100% 0 transparent;
$eschD: url("../images/ESCHERESQUE_STE.png") repeat fixed 100% 0 transparent;
$Noto: 'Noto Sans', sans-serif;
$opacity: url("../images/opacity.png") repeat fixed 100% 0 transparent;
@import url(http://fonts.googleapis.com/css?family=Neuton:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Allerta);
@import url(http://fonts.googleapis.com/css?family=Arvo);
$allerta:'Allerta', sans-serif;
$arvo: 'Arvo', serif;
$neuton: 'Neuton', serif;
$scales: url("../images/black_scales_@2X.png") repeat fixed 100% 0 transparent;

/*header{

    background-color: black;
    height: 2em;
    margin-top:-.1em;
    position: fixed;
    width: 100%;
    z-index: 10;
}*/

body {
 
  font-family: $lato;
  font-size:16px;
  @media screen and (max-width: $small_width), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    width:100%;
    margin:$centered;
  }
  background: $cube;
}

/* #container{ 
  max-width:$page_width;
  margin:$centered;
  margin-top:.5em;
  min-height:50em;
 @media screen and (max-width: $small_width), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    max-width:100%;
    margin:$centered;
  } */

.clearfloat
{
  float:none;
  clear:both;
  border:none;
}


/* ==========================================================================
   Top Right Navigation
   ========================================================================== */

	/*nav {
	max-width: 20em;
	border: $border;
	float:right;
	display:block;
 @media screen and (max-width: $small_width), only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

     float:none;
     margin-bottom:1em;
    }
		a {
		text-decoration:none;
		color: $nav_color;
		padding: 0 1em;
		font-size:2em;
		font-weight: 300;
		}

	
}
}*/


/* ==========================================================================
   Always Visible Arrow
   ========================================================================== */

.trigger{
   color:black;
    left: 95%;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 50px;
    z-index: 100;
    text-decoration: none;
    border:none;
    i {
      border:none;

    }
}

a{
  border:none;
}

.scroll a, .hideclick a {
  color:black;
  border:1px solid black;
  a, i{
    text-decoration: none;
     border:3px solid black;

  }
}


/* ==========================================================================
   First Page
   ========================================================================== */


#home
{
margin:$centered;
margin-top:.5em;
max-width:$page_width;
}

#location
{
  
margin-left:-1em;
 @media screen and (max-width: 854px + 14px) {
margin-left:-2em;
     } 
}

/* ==========================================================================
   Intro Selection
   ========================================================================== */

#intro {
  width:16em;
	border:$border;
	margin-left:2em;
	float:left;
	margin-top:.5em;
	/*font-family:$lato;*/
	font-size:3em;
	font-weight:300;
	font-family: $sans;
	letter-spacing:-3px;
   @media screen and (max-width: 1215px) {
     width:auto;
     font-size:2.8em;
     }
   @media screen and (max-width: 1095px) {
    width:auto;
    font-size:270%;
     }
     @media screen and (max-width: 1024px) {
width:auto;
font-size:2.5em;
     }
       @media screen and (max-width: 925px + 20px) {
width:auto;
font-size:2.3em;
     }
     @media screen and (max-width: 834px + 64px) {
width:60%;
font-size:2.2em;
     } 
      @media screen and (max-width: 854px + 14px) {
width:100%;
font-size:2em;
     } 
        @media screen and (max-width: 854px + 14px) {
          width:auto;
     } 

     @media screen and (max-width: $small_width), only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
      display:none;
    }

	h1::first-letter {
  	font-weight:300;
  	/*font-size:1.6em;*/
  	margin-left:-.8em;
    @media screen and (max-width: 854px + 14px) {
      width:auto;
      letter-spacing:-1px;
    }
  }

  #name {
  font-size:1.4em;
  padding:.1em;
  vertical-align:baseline;
  }
}

#menuContaier {
  z-index:10;
  position:relative;
}

#menuContainer i:hover {
  color:$pink;
  font-size:4em;
  .menu {
    font-size:4em;
  }
}

.menu {
     position: fixed;
    top: 0%;
    right:0%;
    display:block;
    z-index:20;
    padding:.2em;
    font-size:3em;
    line-height:1em;
   color:$green;
    //opacity:1;
    //z-index:100;
    i {
font-size:3em;
border:1px solid black;
    }
}
/* ==========================================================================
   Navigation
   ========================================================================== */


#selection {
  display:block;
	border:$border;
  height:100%;
  width:100%;
	//margin-top:.2em;
  @media screen and (max-width: $small_width), screen and (-webkit-min-device-pixel-ratio : 1.5), screen and (min-device-pixel-ratio : 1.5) {
    font-size: 20px;
    width:100%; 
  }
	a{
  	color:black;
  	font-weight:500;
  	font-family: $oswald;
  	font-variant:small-caps;
  	letter-spacing:.1em;
	}
  .cube {
   	position: relative;
   	min-height:3em;
   	padding-top:2em;
    text-align: center;
    width: 15.64%; /*13.3em*/
    background: $green;
    float:left;
    text-align:center;
    @media screen and (max-width: 1054px) {
      width:20%;
    } 
    @media screen and (max-width: $small_width), screen and (-webkit-min-device-pixel-ratio : 1.5), screen and (min-device-pixel-ratio : 1.5) {
      font-size: 20px;
      width:100%; 
    }   	
  }

 	.empty {
   	@extend .cube;
   	background:none;
   	height:10.857em;
   	display:block;
   	vertical-align:baseline;
 	}
 	.cubepink {
   	@extend .cube;
   	background:$pink;
 	}
 	.cubeblue {
   	@extend .cube;
   	background:$babyblue;
    width:13%;
    @media screen and (max-width: 1054px) {
      width:10%;
    } 
    @media only screen and (max-width: $small_width), screen and (-webkit-min-device-pixel-ratio : 1.5), screen and (min-device-pixel-ratio : 1.5) {
      display:none;
    }
 	}

 	.cubecream {
   	@extend .cube;
   	background:$cream;
    @media screen and (max-width: 1054px) {
      width:10%;
    }    
    @media screen and (max-width: $small_width) {
      display:none;
    }
 	}

 	.cubepalepink {
   	@extend .cube;
   	background:$palepink;
 	}

 	.cubesalmon {
   	@extend .cube;
   	background:$salmon;
 	}
 	.cubepurple {
   	@extend .cube;
   	background:$purple;
 	}

}

@mixin page_tab($color: none){
  max-width:$page_width - 4.5em;
  min-height:20em;
  border:$border;
  @include opacity(60);
    
  @if $color != none {
    background: lighten($color, 0%);
    padding:2em;
   @media screen and (max-width: $small_width){
       display:none;
    }
  }
}

@each $tab_color in green, cream, pink, palepink, purple, blue {
  $colourr:none;
  ##{$tab_color} {
    @if($tab_color == green){
    $colourr: $green;
    }
    @if($tab_color == cream){
    $colourr: $cream;
    }
    @if($tab_color == pink)
    {
    $colourr: $pink;
    }
     @if($tab_color == palepink)
    {
    $colourr: $palepink;
    }
    @if($tab_color == blue)
    {
    $colourr: $babyblue;
    }
    @if($tab_color == purple)
    {
    $colourr: $purple;
    }

  @include page_tab($colourr); 
  } 
}
canvas {
    cursor:pointer;
    display: block;
    float: left;
    margin: 0;
    position: relative;
    color: black;
    svg {
      background-color:black;
    }

}


 /*#canvas1{
   border:1px solid black;
   float:none;

width:30%;
height:30%;
   clear:both;
  padding:0;
  margin:0;
  svg {
    border:1px solid pink;
    margin:0;

     
  }
  }
/*
canvas {
    cursor:pointer;
    display: block;
    float: left;
    margin: 0;
    position: relative;
    color: #2E2C2A;

}

 .triangle{
   border:1px solid black;
   float:none;

width:30%;
height:30%;
   clear:both;
  padding:0;
  margin:0;
  svg {
    border:1px solid pink;
    margin:0;

     
  }
  }

  */

/* ==========================================================================
   SVG Graphic
   ========================================================================== */

svg{
   margin:$centered;   
    width:50%;
    height:50%;
    margin-left:20%;
    padding-bottom:0;
    /* @media screen and (max-width: 904px) {

     } */
  }

#testT{
  float:none;
  clear:both;
  top:.9em;
  margin-top:2em;
  height: 100%; 
  width:100%;
  // height:825px;
  margin:$centered;
 @media screen and (max-width: 904px) {
   width:100%;
 }    
 @media screen and (max-width: $small_width) {
    width:100%
 }
}


/* ==========================================================================
   Content Section
   ========================================================================== */

#content{
    @include page_tab;
    @include opacity(100);
    min-height:0;
    @media screen and (max-width: $small_width) {
     width:auto;
    }    
  .maincontainer{
    border:$border;
    width:85%;
    margin-top:1em;
    margin:1em auto;
  }
  h1 {
    border:$border;
    font-size:2em;
    color:black;
    @include opacity(100);
  }
}


/* ==========================================================================
   About Container
   ========================================================================== */

#about {
  background: $eschD;
  margin:$centered;
  min-height: 30em; 
  padding-top:4.938em;
/*  @media screen and (max-width: 850px){
 min-height:100em;
  }
  @media screen and (max-width: 780px){
    font-size:.9em;
    min-height:150em;
    #webContainer{
      margin-top:40em;
    }
  }*/
  @media screen and (max-width: 660px){
  min-height: 50em; 
  }
}

.aboutContainer{
  line-height:.75em;
  vertical-align:baseline;
  margin:$centered;
  padding: 0;
  position: relative;
  max-width: 60em;
  @media screen and (max-width: 850px){
    width:100%;
    margin:0 auto;
    padding:0;
    text-align:center;
    float:none;
    clear:both;
  }
}

.blurbContain{
  max-width:28.750em;
  display:inline;
  float:left;
  margin-left:0.625em;
  margin-right:0.625em;
  vertical-align: baseline;
  @media screen and (max-width: 780px){
    font-size:.8em;
  }
 @media screen and (max-width: 600px){
  float:none;
  margin:$centered;
 }
}

.blurbAbout{
  padding-right:3.750em;
  color:white;
  font-weight:100;
  p{
     line-height: 1.438em;
     margin-bottom:1.375em;
  }
  h3{
    font-size: 2em;
    padding:0;
    margin:0;
    line-height: 2em;
    margin-bottom: .7em;
    text-transform: uppercase;
  }
  @media screen and (max-width: 860px){
    padding:0;
    position:relative;
    margin:0 auto;
    padding:0;
    text-align:center;
    float:none;
    clear:both;
    width:20em;
   }
  @media screen and (max-width: 780px){
    position:relative;
    margin:0 auto; 
  }
  @media screen and (max-width: 600px){
  float:none;
  margin:$centered;
  }  
}

.size22{
  font-weight:400;
  font-size:1.375em;
  line-height: 1.938em;
  p {
    margin-bottom:1.375em
  }
}

.blurbRight{
  max-width:28.750em;
  margin:0;
  margin-top:3em;
  margin-right:.625em;
  margin-left:0.625em;
  font-size:.75em;
  font-weight:400;
  vertical-align: baseline;
  display:block;
  float:left;
  display:inline;
  @media screen and (max-width: 600px){
    float:none;
    margin:$centered;
    width:50%;
  }
}

.features {
  color:white;
  font-family:$sans;
  line-height:.750em;
  vertical-align: baseline;
  margin:0;
  @media screen and (max-width: 600px){
    padding-top:2em;
    width:80%;
    margin:$centered;
  }
  ul{
    position:relative;
  }
  li:after {
    background-color: pink;
    content: "";
    height: 100%;
    left: 2.375em;
    position: absolute;
    top: 1.063em;
    width:.063em;
    padding-bottom: 2.938em;
  }
  .design{
    line-height:.75em;
  }
  li p{  
       top:.6em;
  }
  li{
    position:relative;
  }
  ul.features li:last-child:after {
    background-color: transparent;
  }
  ol, ul {
    list-style:none outside none;
  }

  h4{
    font-size: 1.125em;
    line-height: 1.125em;
    margin-bottom: 0.750em;
    text-transform: uppercase;
    vertical-align: baseline;
    list-style-position: outside;
    border-image-width:1 1 1 1;
    color:#88939A;
    font-weight:400;
  }
  p{ 
    margin:0;
    padding:0;
    vertical-align: baseline;
    line-height: 1.438em;
  }
  li:after{
        background-color: #E8E8E8;
        content: '';
        //position: absolute;
        left: 2.375em;
        top: 1.063em;
        height: 100%;
        width: 1px;
        line-height: 4.750em;
        background-color: transparent; 
        padding-bottom:2.938em; 
      } 
}
//end features ul

ul.features{ 
  position: relative; 
}

ul.features li {
  padding-bottom: 2.938em;
  padding-left: 7.500em;
  position: relative;
}

ul.features li:after{
  background-color: black;
  content: '';
  position: absolute;
  left: 2.375em;
  top: 1.063em;
  height: 100%;
  width: 1px;
  line-height: 4.750em;
  z-index:0;
} 

 ul.features li:last-child:after { 
  background-color: transparent; 
  padding-bottom:2.938em; 
}

ul.features li span.icn {z-index: 8;
      background-color: #89949B;
      border-radius: 100% 100% 100% 100%;
      display: block;
      float: left;
      height: 4.875em;
      left: 0;
      line-height:  4.750em;
      margin-right: 2.50em;
      position: absolute;
      text-align: center;
      -webkit-transition: background 0.2s linear 0s;
      -moz-transition: background 0.2s linear 0s;
      -o-transition: background 0.2s linear 0s;
      -ms-transition: background 0.2s linear 0s;
      transition: background 0.2s linear 0s;
      top: 1.063em;
      width: 4.875em;
     // z-index: 1;
}
    
ul.features li span.icn > span { 
  vertical-align: middle; 
}
ul.features li span.icn > span.spritesheet.icnbranding{ 
  top:0.250em; 
}
      
ul.features li span.icn:hover{ 
  background: #A1AEB7;
 }

.container {
  width:3%;
  margin:0 auto;
  padding-top:3em;
  float:none;
}

.down
{
  color:white;
  font-size:3em;
  padding-top:5em;
  width:3%;
  margin:0 auto;
  position:relative;
}

/* ==========================================================================
   Web Work Container
   ========================================================================== */
$grey: #313131;

#webContainer{
 //background: url("../images/wood_pattern.png") repeat fixed 60% 0 transparent;

  background: $opacity;
    width:100%;
    height:45em;
      
}

#webDisplay{
    font-family:$lato;
    font-weight:300;
    padding-top:3em;
    margin:0 auto;
    width:85%;
    text-align:center;
    color:$grey;
     h2{
      text-align:left;
      padding-bottom:.2em;
      border-bottom:1px solid $grey;
  }
  
  #barterful {
    background: url('../images/barterful2.png');
  }
/*
  #barterful:hover {
    content:url("../images/hover3.png");
    
  }
*//*
  .caption {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: url('../images/opacity.png');
   // background-color: #0B1915;
    color: #000000;
    height: 2em;
    opacity: 0;
    padding: 5%;
    position: absolute;
    transition: opacity 1s ease-in;
    width: 2em;

}

.caption:hover {
    opacity: 1;
    transition: all 1s ease;
     -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}*/

#lapapa{
  background:url('../images/lapapa2.png');
}

#portfolio1 {
  background:url('../images/portfolioMockup.png');
}
#portfolio2 {
  background: url('../images/portfolio2.png');
}

.thumb {

   width:15.625em;
    height:15.625em;
}

.mockup {
  p{
  font-size:88%;
  }
}

 .caption {
  //border:1px solid black;
  font-size:140%;
  background: url("../images/wood.png") no-repeat;
    color: #663300;
    font-family:$arvo;
    //engraved look
    text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
    height: .9em;
    margin-top:9.4em;
   // margin-top:-1.2em;
  margin-left:.9em;
    opacity: 1;
    position: absolute;
    transition: opacity 3s ease-in;
    width: 8.5em;
    padding:1em;
    font-weight:400;
    letter-spacing:.02em;
    p{
      font-size:.8em;
      padding:0px;
      margin:0px;
      margin-top:-.5em;
      margin-left:-2em;
    }
  }

  img, figure, .thumb {
    margin-top:5em;
    //border:3px dotted $grey;
    float:left;
    margin:2em 1em 1em 1em;
   /* -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-border-radius 0.5s ease-in;
  -moz-transition: -moz-border-radius 0.5s ease-in;
  -o-transition: border-radius 0.5s ease-in;
  -ms-transition: border-radius 0.5s ease-in;
  transition: border-radius 0.5s ease-in;*/
  }

  img:hover, figure:hover{

  /*-webkit-transform: rotate(1080deg);
  -moz-transform: rotate(1080deg);
  -o-transform: rotate(1080deg);
  -ms-transform: rotate(1080deg);
  transform: rotate(1080deg);*/
opacity:1;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  border-radius: 0%;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
    //height: 16.625em;
    
}


 
/*
  a:hover:after {

    content: url("../images/hover.png");
    left: 0;
    position: absolute;
    opacity:10;
  }*/
  h2{
    font-size:2em;
  }
  @media screen and (max-width: 580px){
   img, figure, .thumb {
    margin:0 auto;
   margin-bottom:1em;
    text-align:center;
    border:5px solid pink;
   }
  }
   @media screen and (max-width: 520px){
   img  {
    //margin:0;
    width:90%;
    //padding:0;
    //padding-bottom:.5em;
    text-align:center;
    border:1px solid green;
   }
  }
}


#bottle{
  border:1px solid black;
  position:relative;
  margin:1em;
  width:15em;
  height:15em;
  background: url('../images/badge2.png');
/*}
    background:url('../images/barterful.png');*/
 
    //width:200;
    //height:200;
  }

  #bottle img {
    width:10.4em;
    height:10.4em;
    //height:auto;
    top:2.2em;
    left:2.2em;
    border-radius:50%;
   // border:2px solid green;
      position:absolute;    
  }
/*
#webWork {
  min-width:40em;
  min-height:60em;
   margin:$centered;
    text-align:center;
   padding-top:4.938em;
   line-height:2em;
   position:static;
   padding-right:0;
   padding-left:0;
   display:block;
   color:#504A4B;
   margin-top:4em;
  //border:1px solid red;
   @media screen and (max-width: 780px){
    width:auto;
    height:80em;
    margin:0;
    padding:0;
  }
  @media screen and (max-width: 680px){
    width:auto;
    padding:0;
    margin:0;
    min-height:120em;

  }
  @media screen and (max-width: 600px){
  width:auto;  
  }
}



.webIcon {
  float:left;
  padding-right:1em;
  padding-left:1em;
  padding-bottom:1.4em;
  margin-top:0;
  margin-bottom:0;
  padding-bottom:0;
  padding-top:0;
  text-align:center;

   @media screen and (max-width: 780px){
    float:none;
    max-width:50%;
    padding:0;
    margin:0;
 }

   @media screen and (max-width: 680px){
    float:none;
    border:2px dotted green;
    max-width:50%;
 }

  @media screen and (max-width: 600px){
  width:auto;
  }
}


.icons {
  width:85%;
  margin:0 auto;
  min-height:40em;
text-align:center;
 @media screen and (max-width: 940px){
  min-height:80em;
  width:80%;
  margin:0 auto;
 }
  @media screen and (max-width: 860px){
  width:90%;
  height:auto;
  margin:0 auto;
  text-align:center;
 }
  @media screen and (max-width: 680px){
    float:none;
    min-height:80em;
    margin:0 auto;
    width:90%;
    height:auto;
 }
  @media screen and (max-width: 600px){
  width:auto;
  height:auto;
 }
 a{
  position:relative;
  display:block;
  min-height:18.625em;
 } 
 a:hover:after {
  content: url("../images/hover.png");
    height: 16.625em;
    left: 0;
    position: absolute;
    width: 18.750em;
    opacity:10;
}

   @media screen and (max-width: 600px){
width:auto;
margin:0;
 }

}

/*
.icons {
  width:100%;
  margin:0 auto;

 a{
  position:relative;

height:15.750em;
width:18.750em;
 // height:18.625em;
 } 
img{
  
border:1px solid black;
//border-radius: 50%;
width: 18.750em;
height: 18.750em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

a:hover:after {
  content: url("../images/hover3.png");
    height: 18.625em;
    left: 0;
    position: absolute;
    width: 18.750em;
    opacity:10;
}

}
*/
/* ==========================================================================
   Resume
   ========================================================================== */

.resume{
  margin-top:2em;
 // margin-left:auto;
  //margin-right:auto;
  background:$eschD;
  width:100%;
  position:static;
  min-height:10em;
  display:inline-block;
  font-family:$Noto;
  line-height: 1.625em;
  font-weight:400;
  color:black;//#8B91A0;
  font-size:.813em;
  @media screen and (max-width: 600px){
    display:block;
  }
}

#resume {

  background: $esch;
}

#resumeSection{
  background:$eschD;
  padding-bottom:2em;
}

.resumePage{
  float:none;
  margin:0 auto;
}
.resumeContainer{
  width:55%;
  margin:$centered;
  h6{

  }
  hgroup{

  }
  .column-2 {

  }
  .column-1 {

  }
@media screen and (max-width: 800px){
width:100%;
height:auto;
padding:0;
margin:0;
}
  @media screen and (max-width: 600px){
width:100%;
padding:0;
margin:0;
}

}



#experience article { margin: 2.500em 3.750em; 

*::-moz-selection {
    background: none repeat scroll 0 0 #00FFF1;
    color: #444652;
    text-shadow: none;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #00FFF1;
    color: #444652;
    text-shadow: none;
}

}

.resume-btn {
  font-family:$lato;
  vertical-align: baseline;
  width:20em;
  margin:0 auto;
  min-height:3em;
  h2{
    float:left;
    padding-right:.5em;
  }
  i {
    float:left;
    font-size:2.5em;
    font-weight:100;
    padding-left:.4em;
  }
}
.resumeContainer {

  header{
    font-family:$lato;
    height:3em;
    vertical-align: baseline;
    color:white;
    padding-top:.3em;
    h2{
       font-family:$lato;
       font-weight:100;
      padding:0;
      margin:0;
    }
    i {
    
    }
  }
  header:hover { 
    background:$esch; 
    color:black; 
  }


}

.resumeContainer{

//height:100em;
/*  @media screen and (max-width: 600px){
  
}*/
h2{ 
        font-size:2em;
        padding-top:1em;
  }
  .column-1 {
    display: inline-block;
    width: 11.063em;
    vertical-align:top;
      h6{
        font-size:.846em;
        letter-spacing: .55px;
        line-height:2em;
      }
      h3{
        font-size:1em;
        line-height:1.385em;
        letter-spacing: .121em;
      }
  }
  h3 { 
    letter-spacing:.098em;
    line-height:1.125em; 
  }
  hgroup { 
    margin: 0; 
  }
  h6 {
    font-weight:700; 
    text-transform: uppercase; 
    line-height:1.375em; 
    letter-spacing:.034em; 
  }

  .column-2 {
    display: inline-block;
    line-height:1.625em;
    margin-left: 3.563em;
    vertical-align: top;
    width: 36.250em;
    a{
      font-size:.563em;
      letter-spacing:.188em;
      text-transform:uppercase;
      line-height:.875em;
      text-align:center;
      width:6.785em;
      height:.875em;
      float:right;
    }

    p {
      margin:.813em 0;
      width:36.250em;
      line-height:1.6em;
    }
    h3{
      line-height:1.385em;
      letter-spacing:.120em;
    }
    h6{
    font-size:.846em;
    letter-spacing: .55px;
    line-height:2em;
    }

  }
}

/*
  .wrapper{
    margin: 0 auto;
    padding: 0 10px;
    width:100%;
    //width: 58.75em;
    //max-height:1em;
    font-family:$Noto;
    font-weight:300;
    line-height:1.4em;
    letter-spacing:.04em;
      .resumeHeader{
        font-size:2em;
        padding-top:1em;
        position:static;
      }
    min-height:30em;
    float:none;
     @media screen and (max-width: 600px){
  max-height:140em;
border:3px solid purple;
}
    }

}


.resume-btn{
  padding:0;
}


.collapsable { 
overflow: hidden; 
height:80em;
  header { 
    background:$eschD;
    color:white;
    font-weight:100;
    float:none;
    text-align: center;
    margin:$centered;
    padding-top:1em;
    font-size:2em;
    cursor: pointer; 
    min-height:2em; 
    vertical-align: baseline;
    h2{
      display:inline-block;
      position:relative;
      padding-top:0em;
      font-family:$lato;
      text-align:center;
      margin:0 auto;
      font-size:2em;
        padding-top:1em;
    } 
    i{
      margin-left:.5em;
      color:white;
      font-size:1.5em;
    }
  }
  header:hover { 
    background:$esch; 
    color:black; 
    i {
      color:black;
    }
  }
  h2:hover{
    background:resume(.9);
  } 
  .close-btn:hover{
    background: url(../img/close-active.png) no-repeat; 
  }
}*/

.collapsable collapsed {
max-height:3em;


}

#resume {
  display:none;
}

.close-btn {
  top:0;
  vertical-align: middle;
  left:20;
  display:inline-block;
  :hover{
    color:black;
  }
}



/* ==========================================================================
   Contact Container
   ========================================================================== */
#contact{
   background:$scales;
  width:100%;
  min-height:10em;

}
#contact-form {
  text-shadow:0 1px 0 #FFF;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  background:#F9F9F9;
  padding:25px;
}

#contactContainer{

  font-family:$lato;
  font-weight:300;
  padding-top:3em;
  margin:0 auto;
  width:85%;
  text-align:center;
  max-width:500px;
  border:1px solid black;
  position:relative;
}



/* ==========================================================================
   Footer
   ========================================================================== */


footer{
  color:black;
  background:$cream;
  border:none;
  width:100%;
  min-height:5em;
  text-decoration:none;
  font-family:$sans;
  font-size:.8em;
  text-align:center;
}
#footerContainer {
  padding:1em;
  border:1px dotted blue;
}

.footerLeft {
  border:1px solid red;
  min-height:3%;
  width:40%;
  text-align:left;
  float:left;
  ul li {
    font-size:3em;
    display:inline;
  }
}
.footerRight{
  border:1px sold pink;
  width:40%;
  min-height:3%;
  float:left;
  text-align:left;
}
#footer #ul {
 

}
    
/* ==========================================================================
   Circle Effect 
   ========================================================================== */
.ch-grid {
    margin: 0px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 15.714em;
    border:$border;
    float:left;
   
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
	font-size:14px;
    width: $circle;
    height: $circle;
    display: inline-block;
    margin: 0px;
}

.ch-item {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow:
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}


.ch-img-1 {
    background-image: url("../images/invert.png");
    background-size: 100%;
}
.ch-img-2 {
    background-image: url("../images/2.jpg");
}
.ch-img-3 {
    background-image: url("../images/3.jpg");
}
 

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow:
        inset 0 0 0 0 rgba(000,000,000, 0.4),
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}


.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    backface-visibility: hidden;
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 65px 0 0 0;
    height: 7.857142885714286 em;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow:
        0 0 1px #fff,
        0 1px 2px rgba(0,0,0,0.3);
}
 
.ch-info p {
    color: #fff;
    font-style: italic;
    margin: 0px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}
 
.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    font-family: 'Open Sans', Arial, sans-serif;
}
 
.ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
    box-shadow:
        inset 0 0 0 110px rgba(255, 224, 215, 1.0),
        inset 0 0 0 16px rgba(255,255,255,0.8),
        0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
    opacity: 1;
    transform: scale(1);   
}



