@font-face {
  font-family: 'GeneralEnclosedFoundicons';
  src: url("../fonts/general_enclosed_foundicons.eot");
  src: url("../fonts/general_enclosed_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_enclosed_foundicons.woff") format("woff"), url("../../fonts/general_enclosed_foundicons.ttf") format("truetype"), url("../../fonts/general_enclosed_foundicons.svg#GeneralEnclosedFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 11, ../sass/fonts.scss */
[class*="social foundicon-"]:before {
  font-family: "SocialFoundicons";
}

/* line 14, ../sass/fonts.scss */
[class*="general foundicon-"]:before {
  font-family: "GeneralFoundicons";
}

/* line 17, ../sass/fonts.scss */
[class*="gen-enclosed foundicon-"]:before {
  font-family: "GeneralEnclosedFoundicons";
}

/* line 20, ../sass/fonts.scss */
[class*="accessibility foundicon-"]:before {
  font-family: "AccessibilityFoundicons";
}

/* font-face */
@font-face {
  font-family: "GeneralFoundicons";
  src: url("../fonts/general_foundicons.eot");
  src: url("../fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_foundicons.woff") format("woff"), url("../fonts/general_foundicons.ttf") format("truetype"), url("../fonts/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
/* line 34, ../sass/fonts.scss */
[class*="general foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 45, ../sass/fonts.scss */
[class*="general foundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

@font-face {
  font-family: "SocialFoundicons";
  src: url("../fonts/social_foundicons.eot");
  src: url("../fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/social_foundicons.woff") format("woff"), url("../fonts/social_foundicons.ttf") format("truetype"), url("../fonts/socialfoundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
/* line 63, ../sass/fonts.scss */
[class*="social foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 74, ../sass/fonts.scss */
[class*="social foundicon-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
