@import url(http://fonts.googleapis.com/css?family=Lato:100,400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* font-face */
@font-face {
  font-family: "GeneralEnclosedFoundicons";
  src: url("../fonts/general_enclosed_foundicons.eot");
  src: url("../fonts/general_enclosed_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_enclosed_foundicons.woff") format("woff"), url("../fonts/general_enclosed_foundicons.ttf") format("truetype"), url("../fonts/general_enclosed_foundicons.svg#GeneralEnclosedFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
/* line 7, ../sass/general_enclosed_foundicons.scss */
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 17, ../sass/general_enclosed_foundicons.scss */
[class*="foundicon-"]:before {
  font-family: "GeneralEnclosedFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
/* line 6, ../sass/_settings.scss */
.foundicon-settings:before {
  content: "\f000";
}

/* line 6, ../sass/_settings.scss */
.foundicon-heart:before {
  content: "\f001";
}

/* line 6, ../sass/_settings.scss */
.foundicon-star:before {
  content: "\f002";
}

/* line 6, ../sass/_settings.scss */
.foundicon-plus:before {
  content: "\f003";
}

/* line 6, ../sass/_settings.scss */
.foundicon-minus:before {
  content: "\f004";
}

/* line 6, ../sass/_settings.scss */
.foundicon-checkmark:before {
  content: "\f005";
}

/* line 6, ../sass/_settings.scss */
.foundicon-remove:before {
  content: "\f006";
}

/* line 6, ../sass/_settings.scss */
.foundicon-mail:before {
  content: "\f007";
}

/* line 6, ../sass/_settings.scss */
.foundicon-calendar:before {
  content: "\f008";
}

/* line 6, ../sass/_settings.scss */
.foundicon-page:before {
  content: "\f009";
}

/* line 6, ../sass/_settings.scss */
.foundicon-tools:before {
  content: "\f00a";
}

/* line 6, ../sass/_settings.scss */
.foundicon-globe:before {
  content: "\f00b";
}

/* line 6, ../sass/_settings.scss */
.foundicon-home:before {
  content: "\f00c";
}

/* line 6, ../sass/_settings.scss */
.foundicon-quote:before {
  content: "\f00d";
}

/* line 6, ../sass/_settings.scss */
.foundicon-people:before {
  content: "\f00e";
}

/* line 6, ../sass/_settings.scss */
.foundicon-monitor:before {
  content: "\f00f";
}

/* line 6, ../sass/_settings.scss */
.foundicon-laptop:before {
  content: "\f010";
}

/* line 6, ../sass/_settings.scss */
.foundicon-phone:before {
  content: "\f011";
}

/* line 6, ../sass/_settings.scss */
.foundicon-cloud:before {
  content: "\f012";
}

/* line 6, ../sass/_settings.scss */
.foundicon-error:before {
  content: "\f013";
}

/* line 6, ../sass/_settings.scss */
.foundicon-right-arrow:before {
  content: "\f014";
}

/* line 6, ../sass/_settings.scss */
.foundicon-left-arrow:before {
  content: "\f015";
}

/* line 6, ../sass/_settings.scss */
.foundicon-up-arrow:before {
  content: "\f016";
}

/* line 6, ../sass/_settings.scss */
.foundicon-down-arrow:before {
  content: "\f017";
}

/* line 6, ../sass/_settings.scss */
.foundicon-trash:before {
  content: "\f018";
}

/* line 6, ../sass/_settings.scss */
.foundicon-add-doc:before {
  content: "\f019";
}

/* line 6, ../sass/_settings.scss */
.foundicon-edit:before {
  content: "\f01a";
}

/* line 6, ../sass/_settings.scss */
.foundicon-lock:before {
  content: "\f01b";
}

/* line 6, ../sass/_settings.scss */
.foundicon-unlock:before {
  content: "\f01c";
}

/* line 6, ../sass/_settings.scss */
.foundicon-refresh:before {
  content: "\f01d";
}

/* line 6, ../sass/_settings.scss */
.foundicon-paper-clip:before {
  content: "\f01e";
}

/* line 6, ../sass/_settings.scss */
.foundicon-video:before {
  content: "\f01f";
}

/* line 6, ../sass/_settings.scss */
.foundicon-photo:before {
  content: "\f020";
}

/* line 6, ../sass/_settings.scss */
.foundicon-graph:before {
  content: "\f021";
}

/* line 6, ../sass/_settings.scss */
.foundicon-idea:before {
  content: "\f022";
}

/* line 6, ../sass/_settings.scss */
.foundicon-mic:before {
  content: "\f023";
}

/* line 6, ../sass/_settings.scss */
.foundicon-cart:before {
  content: "\f024";
}

/* line 6, ../sass/_settings.scss */
.foundicon-address-book:before {
  content: "\f025";
}

/* line 6, ../sass/_settings.scss */
.foundicon-compass:before {
  content: "\f026";
}

/* line 6, ../sass/_settings.scss */
.foundicon-flag:before {
  content: "\f027";
}

/* line 6, ../sass/_settings.scss */
.foundicon-location:before {
  content: "\f028";
}

/* line 6, ../sass/_settings.scss */
.foundicon-clock:before {
  content: "\f029";
}

/* line 6, ../sass/_settings.scss */
.foundicon-folder:before {
  content: "\f02a";
}

/* line 6, ../sass/_settings.scss */
.foundicon-inbox:before {
  content: "\f02b";
}

/* line 6, ../sass/_settings.scss */
.foundicon-website:before {
  content: "\f02c";
}

/* line 6, ../sass/_settings.scss */
.foundicon-smiley:before {
  content: "\f02d";
}

/* line 6, ../sass/_settings.scss */
.foundicon-search:before {
  content: "\f02e";
}

/* font-face */
@font-face {
  font-family: "GeneralEnclosedFoundicons";
  src: url("../fonts/general_enclosed_foundicons.eot");
  src: url("../fonts/general_enclosed_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_enclosed_foundicons.woff") format("woff"), url("../fonts/general_enclosed_foundicons.ttf") format("truetype"), url("../fonts/general_enclosed_foundicons.svg#GeneralEnclosedFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
/* line 7, ../sass/general_foundicons.scss */
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 17, ../sass/general_foundicons.scss */
[class*="foundicon-"]:before {
  font-family: "GeneralEnclosedFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
/* line 6, ../sass/_settings.scss */
.foundicon-settings:before {
  content: "\f000";
}

/* line 6, ../sass/_settings.scss */
.foundicon-heart:before {
  content: "\f001";
}

/* line 6, ../sass/_settings.scss */
.foundicon-star:before {
  content: "\f002";
}

/* line 6, ../sass/_settings.scss */
.foundicon-plus:before {
  content: "\f003";
}

/* line 6, ../sass/_settings.scss */
.foundicon-minus:before {
  content: "\f004";
}

/* line 6, ../sass/_settings.scss */
.foundicon-checkmark:before {
  content: "\f005";
}

/* line 6, ../sass/_settings.scss */
.foundicon-remove:before {
  content: "\f006";
}

/* line 6, ../sass/_settings.scss */
.foundicon-mail:before {
  content: "\f007";
}

/* line 6, ../sass/_settings.scss */
.foundicon-calendar:before {
  content: "\f008";
}

/* line 6, ../sass/_settings.scss */
.foundicon-page:before {
  content: "\f009";
}

/* line 6, ../sass/_settings.scss */
.foundicon-tools:before {
  content: "\f00a";
}

/* line 6, ../sass/_settings.scss */
.foundicon-globe:before {
  content: "\f00b";
}

/* line 6, ../sass/_settings.scss */
.foundicon-home:before {
  content: "\f00c";
}

/* line 6, ../sass/_settings.scss */
.foundicon-quote:before {
  content: "\f00d";
}

/* line 6, ../sass/_settings.scss */
.foundicon-people:before {
  content: "\f00e";
}

/* line 6, ../sass/_settings.scss */
.foundicon-monitor:before {
  content: "\f00f";
}

/* line 6, ../sass/_settings.scss */
.foundicon-laptop:before {
  content: "\f010";
}

/* line 6, ../sass/_settings.scss */
.foundicon-phone:before {
  content: "\f011";
}

/* line 6, ../sass/_settings.scss */
.foundicon-cloud:before {
  content: "\f012";
}

/* line 6, ../sass/_settings.scss */
.foundicon-error:before {
  content: "\f013";
}

/* line 6, ../sass/_settings.scss */
.foundicon-right-arrow:before {
  content: "\f014";
}

/* line 6, ../sass/_settings.scss */
.foundicon-left-arrow:before {
  content: "\f015";
}

/* line 6, ../sass/_settings.scss */
.foundicon-up-arrow:before {
  content: "\f016";
}

/* line 6, ../sass/_settings.scss */
.foundicon-down-arrow:before {
  content: "\f017";
}

/* line 6, ../sass/_settings.scss */
.foundicon-trash:before {
  content: "\f018";
}

/* line 6, ../sass/_settings.scss */
.foundicon-add-doc:before {
  content: "\f019";
}

/* line 6, ../sass/_settings.scss */
.foundicon-edit:before {
  content: "\f01a";
}

/* line 6, ../sass/_settings.scss */
.foundicon-lock:before {
  content: "\f01b";
}

/* line 6, ../sass/_settings.scss */
.foundicon-unlock:before {
  content: "\f01c";
}

/* line 6, ../sass/_settings.scss */
.foundicon-refresh:before {
  content: "\f01d";
}

/* line 6, ../sass/_settings.scss */
.foundicon-paper-clip:before {
  content: "\f01e";
}

/* line 6, ../sass/_settings.scss */
.foundicon-video:before {
  content: "\f01f";
}

/* line 6, ../sass/_settings.scss */
.foundicon-photo:before {
  content: "\f020";
}

/* line 6, ../sass/_settings.scss */
.foundicon-graph:before {
  content: "\f021";
}

/* line 6, ../sass/_settings.scss */
.foundicon-idea:before {
  content: "\f022";
}

/* line 6, ../sass/_settings.scss */
.foundicon-mic:before {
  content: "\f023";
}

/* line 6, ../sass/_settings.scss */
.foundicon-cart:before {
  content: "\f024";
}

/* line 6, ../sass/_settings.scss */
.foundicon-address-book:before {
  content: "\f025";
}

/* line 6, ../sass/_settings.scss */
.foundicon-compass:before {
  content: "\f026";
}

/* line 6, ../sass/_settings.scss */
.foundicon-flag:before {
  content: "\f027";
}

/* line 6, ../sass/_settings.scss */
.foundicon-location:before {
  content: "\f028";
}

/* line 6, ../sass/_settings.scss */
.foundicon-clock:before {
  content: "\f029";
}

/* line 6, ../sass/_settings.scss */
.foundicon-folder:before {
  content: "\f02a";
}

/* line 6, ../sass/_settings.scss */
.foundicon-inbox:before {
  content: "\f02b";
}

/* line 6, ../sass/_settings.scss */
.foundicon-website:before {
  content: "\f02c";
}

/* line 6, ../sass/_settings.scss */
.foundicon-smiley:before {
  content: "\f02d";
}

/* line 6, ../sass/_settings.scss */
.foundicon-search:before {
  content: "\f02e";
}

@font-face {
  font-family: 'GeneralEnclosedFoundicons';
  src: url("../fonts/general_enclosed_foundicons.eot");
  src: url("../fonts/general_enclosed_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_enclosed_foundicons.woff") format("woff"), url("../../fonts/general_enclosed_foundicons.ttf") format("truetype"), url("../../fonts/general_enclosed_foundicons.svg#GeneralEnclosedFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 11, ../sass/fonts.scss */
[class*="social foundicon-"]:before {
  font-family: "SocialFoundicons";
}

/* line 14, ../sass/fonts.scss */
[class*="general foundicon-"]:before {
  font-family: "GeneralFoundicons";
}

/* line 17, ../sass/fonts.scss */
[class*="gen-enclosed foundicon-"]:before {
  font-family: "GeneralEnclosedFoundicons";
}

/* line 20, ../sass/fonts.scss */
[class*="accessibility foundicon-"]:before {
  font-family: "AccessibilityFoundicons";
}

/* font-face */
@font-face {
  font-family: "GeneralFoundicons";
  src: url("../fonts/general_foundicons.eot");
  src: url("../fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_foundicons.woff") format("woff"), url("../fonts/general_foundicons.ttf") format("truetype"), url("../fonts/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
/* line 34, ../sass/fonts.scss */
[class*="general foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 45, ../sass/fonts.scss */
[class*="general foundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/*header{

    background-color: black;
    height: 2em;
    margin-top:-.1em;
    position: fixed;
    width: 100%;
    z-index: 10;
}*/
/* line 44, ../sass/mainmay13.scss */
.clearfloat {
  float: none;
  clear: both;
}

/* line 50, ../sass/mainmay13.scss */
body {
  background: #ffe0d7;
  border: none;
  font-family: "Lato", sans-serif;
  /*	min-width:$min_width;*/
  font-size: 16px;
  background: url("../images/cubes.png") repeat fixed 60% 0 transparent;
  /* ==========================================================================
     Top Right Navigation
     ========================================================================== */
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 50, ../sass/mainmay13.scss */
  body {
    width: 100%;
    margin: 0 auto;
  }
}
/* line 62, ../sass/mainmay13.scss */
body #test {
  width: 100%;
  height: auto;
}
/* line 67, ../sass/mainmay13.scss */
body #container {
  max-width: 80em;
  /*min-width:$min_width;*/
  margin: 0 auto;
  margin-top: .5em;
  min-height: 50em;
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 67, ../sass/mainmay13.scss */
  body #container {
    max-width: 100%;
    margin: 0 auto;
  }
}
/* line 85, ../sass/mainmay13.scss */
body nav {
  max-width: 20em;
  border: none;
  float: right;
  display: block;
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 85, ../sass/mainmay13.scss */
  body nav {
    float: none;
    margin-bottom: 1em;
  }
}
/* line 96, ../sass/mainmay13.scss */
body nav a {
  text-decoration: none;
  color: #607890;
  padding: 0 1em;
  font-size: 2em;
  font-weight: 300;
}

/* ==========================================================================
   Always Visible Arrow
   ========================================================================== */
/* line 113, ../sass/mainmay13.scss */
.trigger {
  color: #fff;
  left: 95%;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 50px;
  z-index: 100;
  text-decoration: none;
  border: none;
}
/* line 123, ../sass/mainmay13.scss */
.trigger i {
  border: none;
}

/* line 128, ../sass/mainmay13.scss */
a {
  border: none;
}

/* line 132, ../sass/mainmay13.scss */
.scroll a, .hideclick a {
  color: white;
  border: none;
}
/* line 135, ../sass/mainmay13.scss */
.scroll a a, .scroll a i, .hideclick a a, .hideclick a i {
  text-decoration: none;
  border: none;
}

/* line 142, ../sass/mainmay13.scss */
.foundicon-up-arrow:before {
  font-family: "GeneralFoundIcons";
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  border: none;
}

/* ==========================================================================
   First Page
   ========================================================================== */
/* line 158, ../sass/mainmay13.scss */
#home {
  margin: 0 auto;
  margin-top: .5em;
  max-width: 80em;
}

/* line 166, ../sass/mainmay13.scss */
#location {
  margin-left: -1em;
}
@media screen and (max-width: 868px) {
  /* line 166, ../sass/mainmay13.scss */
  #location {
    margin-left: -2em;
  }
}

/* ==========================================================================
   Intro Selection
   ========================================================================== */
/* line 178, ../sass/mainmay13.scss */
#intro {
  width: 16em;
  border: none;
  margin-left: 2em;
  float: left;
  margin-top: .5em;
  /*font-family:$lato;*/
  font-size: 3em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -3px;
}
@media screen and (max-width: 1215px) {
  /* line 178, ../sass/mainmay13.scss */
  #intro {
    width: auto;
    font-size: 2.8em;
  }
}
@media screen and (max-width: 1095px) {
  /* line 178, ../sass/mainmay13.scss */
  #intro {
    width: auto;
    font-size: 270%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 178, ../sass/mainmay13.scss */
  #intro {
    width: auto;
    font-size: 2.5em;
  }
}
@media screen and (max-width: 945px) {
  /* line 178, ../sass/mainmay13.scss */
  #intro {
    width: auto;
    font-size: 2.3em;
  }
}
@media screen and (max-width: 898px) {
  /* line 178, ../sass/mainmay13.scss */
  #intro {
    width: 60%;
    font-size: 2.2em;
  }
}
@media screen and (max-width: 868px) {
  /* line 178, ../sass/mainmay13.scss */
  #intro {
    width: 100%;
    font-size: 2em;
  }
}
@media screen and (max-width: 868px) {
  /* line 178, ../sass/mainmay13.scss */
  #intro {
    width: auto;
  }
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 178, ../sass/mainmay13.scss */
  #intro {
    display: none;
  }
}
/* line 225, ../sass/mainmay13.scss */
#intro h1::first-letter {
  font-weight: 300;
  /*font-size:1.6em;*/
  margin-left: -.8em;
}
@media screen and (max-width: 868px) {
  /* line 225, ../sass/mainmay13.scss */
  #intro h1::first-letter {
    width: auto;
    letter-spacing: -1px;
  }
}
/* line 236, ../sass/mainmay13.scss */
#intro #name {
  font-size: 1.4em;
  padding: .1em;
  vertical-align: baseline;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
/* line 250, ../sass/mainmay13.scss */
#selection {
  border: none;
  height: 100%;
  margin-top: .2em;
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 250, ../sass/mainmay13.scss */
  #selection {
    font-size: 20px;
    width: 100%;
  }
}
/* line 260, ../sass/mainmay13.scss */
#selection a {
  color: black;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  font-variant: small-caps;
  letter-spacing: .1em;
}
/* line 267, ../sass/mainmay13.scss */
#selection .cube, #selection .empty, #selection .cubepink, #selection .cubeblue, #selection .cubecream, #selection .cubepalepink, #selection .cubesalmon, #selection .cubepurple {
  position: relative;
  min-height: 3em;
  padding-top: 2em;
  text-align: center;
  width: 16.64%;
  /*13.3em*/
  background: #81ffaf;
  float: left;
  text-align: center;
}
@media screen and (max-width: 1054px) {
  /* line 267, ../sass/mainmay13.scss */
  #selection .cube, #selection .empty, #selection .cubepink, #selection .cubeblue, #selection .cubecream, #selection .cubepalepink, #selection .cubesalmon, #selection .cubepurple {
    width: 20%;
  }
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 267, ../sass/mainmay13.scss */
  #selection .cube, #selection .empty, #selection .cubepink, #selection .cubeblue, #selection .cubecream, #selection .cubepalepink, #selection .cubesalmon, #selection .cubepurple {
    font-size: 20px;
    width: 100%;
  }
}
/* line 286, ../sass/mainmay13.scss */
#selection .empty {
  background: none;
  height: 10.857em;
  display: block;
  vertical-align: baseline;
}
/* line 294, ../sass/mainmay13.scss */
#selection .cubepink {
  background: #fac0ff;
}
/* line 300, ../sass/mainmay13.scss */
#selection .cubeblue {
  background: #d8f6ff;
}
@media screen and (max-width: 1054px) {
  /* line 300, ../sass/mainmay13.scss */
  #selection .cubeblue {
    width: 10%;
  }
}
@media only screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 300, ../sass/mainmay13.scss */
  #selection .cubeblue {
    display: none;
  }
}
/* line 312, ../sass/mainmay13.scss */
#selection .cubecream {
  background: #fff6f1;
}
@media screen and (max-width: 1054px) {
  /* line 312, ../sass/mainmay13.scss */
  #selection .cubecream {
    width: 10%;
  }
}
@media screen and (max-width: 620px) {
  /* line 312, ../sass/mainmay13.scss */
  #selection .cubecream {
    display: none;
  }
}
/* line 323, ../sass/mainmay13.scss */
#selection .cubepalepink {
  background: #f0e0e2;
}
/* line 328, ../sass/mainmay13.scss */
#selection .cubesalmon {
  background: #fabfba;
}
/* line 332, ../sass/mainmay13.scss */
#selection .cubepurple {
  background: #c5c4f8;
}

/* line 356, ../sass/mainmay13.scss */
#green {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #81ffaf;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 356, ../sass/mainmay13.scss */
  #green {
    display: none;
  }
}

/* line 356, ../sass/mainmay13.scss */
#cream {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #fff6f1;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 356, ../sass/mainmay13.scss */
  #cream {
    display: none;
  }
}

/* line 356, ../sass/mainmay13.scss */
#pink {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #fac0ff;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 356, ../sass/mainmay13.scss */
  #pink {
    display: none;
  }
}

/* line 356, ../sass/mainmay13.scss */
#palepink {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #f0e0e2;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 356, ../sass/mainmay13.scss */
  #palepink {
    display: none;
  }
}

/* line 356, ../sass/mainmay13.scss */
#purple {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #c5c4f8;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 356, ../sass/mainmay13.scss */
  #purple {
    display: none;
  }
}

/* line 356, ../sass/mainmay13.scss */
#blue {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #d8f6ff;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 356, ../sass/mainmay13.scss */
  #blue {
    display: none;
  }
}

/* line 385, ../sass/mainmay13.scss */
#triangle {
  margin: 0 auto;
  max-width: 80em;
  height: auto;
  border: none;
}

/* ==========================================================================
   SVG Graphic
   ========================================================================== */
/* line 398, ../sass/mainmay13.scss */
svg {
  width: auto;
  height: auto;
}

/* line 403, ../sass/mainmay13.scss */
#testT {
  height: 425px;
  margin: 0 auto;
  max-width: 80em;
}
@media screen and (max-width: 904px) {
  /* line 403, ../sass/mainmay13.scss */
  #testT {
    max-width: 66.66667em;
  }
}
@media screen and (max-width: 620px) {
  /* line 403, ../sass/mainmay13.scss */
  #testT {
    display: none;
  }
}

/* ==========================================================================
   Content Section
   ========================================================================== */
/* line 425, ../sass/mainmay13.scss */
#content {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  filter: alpha(opacity=100);
  opacity: 1;
  min-height: 0;
}
@media screen and (max-width: 620px) {
  /* line 425, ../sass/mainmay13.scss */
  #content {
    width: auto;
  }
}
/* line 433, ../sass/mainmay13.scss */
#content .maincontainer {
  border: none;
  width: 85%;
  margin-top: 1em;
  margin: 1em auto;
}
/* line 439, ../sass/mainmay13.scss */
#content h1 {
  border: none;
  font-size: 2em;
  color: black;
  filter: alpha(opacity=100);
  opacity: 1;
}

/* ==========================================================================
   About Container
   ========================================================================== */
/* line 453, ../sass/mainmay13.scss */
#about {
  background: url("../images/ESCHERESQUE_STE.png") repeat fixed 100% 0 transparent;
  margin: 0 auto;
  min-height: 30em;
  padding-top: 4.938em;
}

/* line 460, ../sass/mainmay13.scss */
.aboutContainer, .webContainer {
  line-height: .75em;
  vertical-align: baseline;
  margin: 0 auto;
  padding: 0;
  position: relative;
  max-width: 60em;
}

/* line 469, ../sass/mainmay13.scss */
.blurbContain {
  max-width: 28.750em;
  display: inline;
  float: left;
  margin-left: 0.625em;
  margin-right: 0.625em;
  vertical-align: baseline;
}

/* line 477, ../sass/mainmay13.scss */
.blurbAbout {
  padding-right: 3.750em;
  color: white;
  font-weight: 100;
}
/* line 481, ../sass/mainmay13.scss */
.blurbAbout p {
  line-height: 1.438em;
  margin-bottom: 1.375em;
}
/* line 485, ../sass/mainmay13.scss */
.blurbAbout h3 {
  font-size: 2em;
  padding: 0;
  margin: 0;
  line-height: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

/* line 495, ../sass/mainmay13.scss */
.size22 {
  font-weight: 400;
  font-size: 1.375em;
  line-height: 1.938em;
}
/* line 499, ../sass/mainmay13.scss */
.size22 p {
  margin-bottom: 1.375em;
}

/* line 504, ../sass/mainmay13.scss */
.blurbRight {
  max-width: 28.750em;
  margin: 0;
  margin-right: .625em;
  margin-left: 0.625em;
  font-size: .75em;
  font-weight: 400;
  vertical-align: baseline;
  display: block;
  float: left;
  display: inline;
}

/* line 518, ../sass/mainmay13.scss */
.features {
  color: white;
  font-family: "Open Sans", sans-serif;
  line-height: .750em;
  vertical-align: baseline;
  margin: 0;
}
/* line 525, ../sass/mainmay13.scss */
.features ul {
  position: relative;
}
/* line 529, ../sass/mainmay13.scss */
.features li:after {
  background-color: pink;
  content: "";
  height: 100%;
  left: 2.375em;
  position: absolute;
  top: 1.063em;
  width: .063em;
  padding-bottom: 2.938em;
}
/* line 539, ../sass/mainmay13.scss */
.features .design {
  line-height: .75em;
}
/* line 542, ../sass/mainmay13.scss */
.features li p {
  top: .6em;
}
/* line 547, ../sass/mainmay13.scss */
.features li {
  position: relative;
}
/* line 550, ../sass/mainmay13.scss */
.features ul.features li:last-child:after {
  background-color: transparent;
}
/* line 553, ../sass/mainmay13.scss */
.features ol, .features ul {
  list-style: none outside none;
}
/* line 557, ../sass/mainmay13.scss */
.features h4 {
  font-size: 1.125em;
  line-height: 1.125em;
  margin-bottom: 0.750em;
  text-transform: uppercase;
  vertical-align: baseline;
  list-style-position: outside;
  border-image-width: 1 1 1 1;
  color: #88939A;
  font-weight: 400;
}
/* line 569, ../sass/mainmay13.scss */
.features p {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.438em;
}
/* line 578, ../sass/mainmay13.scss */
.features .icn {
  background-color: #89949B;
  border-radius: 100% 100% 100% 100%;
  display: block;
  float: left;
  height: 4.875em;
  left: 0;
  line-height: 4.750em;
  margin-right: 2.500em;
  position: absolute;
  text-align: center;
  top: 1.063em;
  transition: background 0.2s linear 0s;
  width: 4.875em;
  z-index: 1;
  padding: 0;
  vertical-align: middle;
}
/* line 596, ../sass/mainmay13.scss */
.features li:after {
  background-color: #E8E8E8;
  content: '';
  position: absolute;
  left: 2.375em;
  top: 1.063em;
  height: 100%;
  width: 1px;
  line-height: 4.750em;
}

/* line 608, ../sass/mainmay13.scss */
ul.features {
  position: relative;
}

/* line 609, ../sass/mainmay13.scss */
ul.features li {
  padding-bottom: 2.938em;
  padding-left: 7.500em;
  position: relative;
}

/* line 614, ../sass/mainmay13.scss */
ul.features li:after {
  background-color: #E8E8E8;
  content: '';
  position: absolute;
  left: 2.375em;
  top: 1.063em;
  height: 100%;
  width: 1px;
  line-height: 4.750em;
}

/* line 624, ../sass/mainmay13.scss */
ul.features li:last-child:after {
  background-color: transparent;
  padding-bottom: 2.938em;
}

/* line 625, ../sass/mainmay13.scss */
ul.features li span.icn {
  background-color: #89949B;
  border-radius: 100% 100% 100% 100%;
  display: block;
  float: left;
  height: 4.875em;
  left: 0;
  line-height: 4.750em;
  margin-right: 2.50em;
  position: absolute;
  text-align: center;
  -webkit-transition: background 0.2s linear 0s;
  -moz-transition: background 0.2s linear 0s;
  -o-transition: background 0.2s linear 0s;
  -ms-transition: background 0.2s linear 0s;
  transition: background 0.2s linear 0s;
  top: 1.063em;
  width: 4.875em;
  z-index: 1;
}

/* line 646, ../sass/mainmay13.scss */
ul.features li span.icn > span {
  vertical-align: middle;
}

/* line 647, ../sass/mainmay13.scss */
ul.features li span.icn > span.spritesheet.icnbranding {
  top: 0.250em;
}

/* line 649, ../sass/mainmay13.scss */
ul.features li span.icn:hover {
  background-color: #A1AEB7;
}

/* line 651, ../sass/mainmay13.scss */
.spritesheet {
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
}

/* line 656, ../sass/mainmay13.scss */
.spritesheet .icndesign {
  background-position: 0 -3.250em;
  height: 2.563em;
  width: 2.938em;
  vertical-align: middle;
  text-align: center;
}

/* ==========================================================================
   Web Work Container
   ========================================================================== */
/* line 668, ../sass/mainmay13.scss */
#webWork {
  background: white;
  margin: 0 auto;
  min-height: 30em;
  padding-top: 4.938em;
}

/* line 675, ../sass/mainmay13.scss */
.webContainer {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 1em;
}
/* line 680, ../sass/mainmay13.scss */
.webContainer h2 {
  font-size: 2.4em;
}

/* ==========================================================================
   Footer
   ========================================================================== */
/* line 692, ../sass/mainmay13.scss */
footer {
  border: none;
  margin: 0 auto;
  height: 5em;
  margin: 0 auto;
  max-width: 80em;
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 692, ../sass/mainmay13.scss */
  footer {
    width: auto;
  }
}

/* line 706, ../sass/mainmay13.scss */
#footer #ul {
  list-style: none;
  display: inline;
}

/* ==========================================================================
   Circle Effect 
   ========================================================================== */
/* line 717, ../sass/mainmay13.scss */
.ch-grid {
  margin: 0px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 15.714em;
  border: none;
  float: left;
}

/* line 730, ../sass/mainmay13.scss */
.ch-grid:after,
.ch-item:before {
  content: '';
  display: table;
}

/* line 735, ../sass/mainmay13.scss */
.ch-grid:after {
  clear: both;
}

/* line 739, ../sass/mainmay13.scss */
.ch-grid li {
  font-size: 14px;
  width: 13.714em;
  height: 13.714em;
  display: inline-block;
  margin: 0px;
}

/* line 746, ../sass/mainmay13.scss */
ch-item {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

/* line 758, ../sass/mainmay13.scss */
.ch-img-1 {
  background-image: url("../images/invert.png");
  background-size: 100%;
}

/* line 762, ../sass/mainmay13.scss */
.ch-img-2 {
  background-image: url("../images/2.jpg");
}

/* line 765, ../sass/mainmay13.scss */
.ch-img-3 {
  background-image: url("../images/3.jpg");
}

/* line 770, ../sass/mainmay13.scss */
.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

/* line 784, ../sass/mainmay13.scss */
.ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
  backface-visibility: hidden;
}

/* line 796, ../sass/mainmay13.scss */
.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 65px 0 0 0;
  height: 7.857142885714286 em;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* line 811, ../sass/mainmay13.scss */
.ch-info p {
  color: #fff;
  font-style: italic;
  margin: 0px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* line 819, ../sass/mainmay13.scss */
.ch-info p a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  font-family: 'Open Sans', Arial, sans-serif;
}

/* line 830, ../sass/mainmay13.scss */
.ch-info p a:hover {
  color: rgba(255, 242, 34, 0.8);
}

/* line 834, ../sass/mainmay13.scss */
.ch-item:hover {
  box-shadow: inset 0 0 0 110px #ffe0d7, inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 841, ../sass/mainmay13.scss */
.ch-item:hover .ch-info {
  opacity: 1;
  transform: scale(1);
}

/****END CIRCLE EFFECT ****/
