@import url(http://fonts.googleapis.com/css?family=Lato:100,400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*header{

    background-color: black;
    height: 2em;
    margin-top:-.1em;
    position: fixed;
    width: 100%;
    z-index: 10;
}*/
/* line 56, ../sass/mainmay13.scss */
.clearfloat {
  float: none;
  clear: both;
}

/* line 62, ../sass/mainmay13.scss */
body {
  background: #ffe0d7;
  border: none;
  font-family: "Lato", sans-serif;
  /*	min-width:$min_width;*/
  font-size: 16px;
  background: url("../images/cubes.png") repeat fixed 60% 0 transparent;
  /* ==========================================================================
     Top Right Navigation
     ========================================================================== */
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 62, ../sass/mainmay13.scss */
  body {
    width: 100%;
    margin: 0 auto;
  }
}
/* line 74, ../sass/mainmay13.scss */
body #test {
  width: 100%;
  height: auto;
}
/* line 79, ../sass/mainmay13.scss */
body #container {
  max-width: 80em;
  /*min-width:$min_width;*/
  margin: 0 auto;
  margin-top: .5em;
  min-height: 50em;
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 79, ../sass/mainmay13.scss */
  body #container {
    max-width: 100%;
    margin: 0 auto;
  }
}
/* line 97, ../sass/mainmay13.scss */
body nav {
  max-width: 20em;
  border: none;
  float: right;
  display: block;
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 97, ../sass/mainmay13.scss */
  body nav {
    float: none;
    margin-bottom: 1em;
  }
}
/* line 108, ../sass/mainmay13.scss */
body nav a {
  text-decoration: none;
  color: #607890;
  padding: 0 1em;
  font-size: 2em;
  font-weight: 300;
}

/* ==========================================================================
   Always Visible Arrow
   ========================================================================== */
/* line 125, ../sass/mainmay13.scss */
.trigger {
  color: black;
  left: 95%;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 50px;
  z-index: 100;
  text-decoration: none;
  border: none;
}
/* line 135, ../sass/mainmay13.scss */
.trigger i {
  border: none;
}

/* line 140, ../sass/mainmay13.scss */
a {
  border: none;
}

/* line 144, ../sass/mainmay13.scss */
.scroll a, .hideclick a {
  color: black;
  border: 1px solid black;
}
/* line 147, ../sass/mainmay13.scss */
.scroll a a, .scroll a i, .hideclick a a, .hideclick a i {
  text-decoration: none;
  border: 3px solid black;
}

/* ==========================================================================
   First Page
   ========================================================================== */
/* line 162, ../sass/mainmay13.scss */
#home {
  margin: 0 auto;
  margin-top: .5em;
  max-width: 80em;
}

/* line 170, ../sass/mainmay13.scss */
#location {
  margin-left: -1em;
}
@media screen and (max-width: 868px) {
  /* line 170, ../sass/mainmay13.scss */
  #location {
    margin-left: -2em;
  }
}

/* ==========================================================================
   Intro Selection
   ========================================================================== */
/* line 182, ../sass/mainmay13.scss */
#intro {
  width: 16em;
  border: none;
  margin-left: 2em;
  float: left;
  margin-top: .5em;
  /*font-family:$lato;*/
  font-size: 3em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -3px;
}
@media screen and (max-width: 1215px) {
  /* line 182, ../sass/mainmay13.scss */
  #intro {
    width: auto;
    font-size: 2.8em;
  }
}
@media screen and (max-width: 1095px) {
  /* line 182, ../sass/mainmay13.scss */
  #intro {
    width: auto;
    font-size: 270%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 182, ../sass/mainmay13.scss */
  #intro {
    width: auto;
    font-size: 2.5em;
  }
}
@media screen and (max-width: 945px) {
  /* line 182, ../sass/mainmay13.scss */
  #intro {
    width: auto;
    font-size: 2.3em;
  }
}
@media screen and (max-width: 898px) {
  /* line 182, ../sass/mainmay13.scss */
  #intro {
    width: 60%;
    font-size: 2.2em;
  }
}
@media screen and (max-width: 868px) {
  /* line 182, ../sass/mainmay13.scss */
  #intro {
    width: 100%;
    font-size: 2em;
  }
}
@media screen and (max-width: 868px) {
  /* line 182, ../sass/mainmay13.scss */
  #intro {
    width: auto;
  }
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 182, ../sass/mainmay13.scss */
  #intro {
    display: none;
  }
}
/* line 229, ../sass/mainmay13.scss */
#intro h1::first-letter {
  font-weight: 300;
  /*font-size:1.6em;*/
  margin-left: -.8em;
}
@media screen and (max-width: 868px) {
  /* line 229, ../sass/mainmay13.scss */
  #intro h1::first-letter {
    width: auto;
    letter-spacing: -1px;
  }
}
/* line 240, ../sass/mainmay13.scss */
#intro #name {
  font-size: 1.4em;
  padding: .1em;
  vertical-align: baseline;
}

/* line 249, ../sass/mainmay13.scss */
#menuContaier {
  z-index: 10;
  position: relative;
}

/* line 256, ../sass/mainmay13.scss */
.menu {
  position: fixed;
  text-align: center;
  top: 0%;
  display: block;
  width: 50px;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
/* line 275, ../sass/mainmay13.scss */
#selection {
  display: block;
  border: none;
  height: 100%;
  margin-top: .2em;
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 275, ../sass/mainmay13.scss */
  #selection {
    font-size: 20px;
    width: 100%;
  }
}
/* line 285, ../sass/mainmay13.scss */
#selection a {
  color: black;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  font-variant: small-caps;
  letter-spacing: .1em;
}
/* line 292, ../sass/mainmay13.scss */
#selection .cube, #selection .empty, #selection .cubepink, #selection .cubeblue, #selection .cubecream, #selection .cubepalepink, #selection .cubesalmon, #selection .cubepurple {
  position: relative;
  min-height: 3em;
  padding-top: 2em;
  text-align: center;
  width: 16.64%;
  /*13.3em*/
  background: #81ffaf;
  float: left;
  text-align: center;
}
@media screen and (max-width: 1054px) {
  /* line 292, ../sass/mainmay13.scss */
  #selection .cube, #selection .empty, #selection .cubepink, #selection .cubeblue, #selection .cubecream, #selection .cubepalepink, #selection .cubesalmon, #selection .cubepurple {
    width: 20%;
  }
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 292, ../sass/mainmay13.scss */
  #selection .cube, #selection .empty, #selection .cubepink, #selection .cubeblue, #selection .cubecream, #selection .cubepalepink, #selection .cubesalmon, #selection .cubepurple {
    font-size: 20px;
    width: 100%;
  }
}
/* line 311, ../sass/mainmay13.scss */
#selection .empty {
  background: none;
  height: 10.857em;
  display: block;
  vertical-align: baseline;
}
/* line 319, ../sass/mainmay13.scss */
#selection .cubepink {
  background: #fac0ff;
}
/* line 325, ../sass/mainmay13.scss */
#selection .cubeblue {
  background: #d8f6ff;
}
@media screen and (max-width: 1054px) {
  /* line 325, ../sass/mainmay13.scss */
  #selection .cubeblue {
    width: 10%;
  }
}
@media only screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 325, ../sass/mainmay13.scss */
  #selection .cubeblue {
    display: none;
  }
}
/* line 337, ../sass/mainmay13.scss */
#selection .cubecream {
  background: #fff6f1;
}
@media screen and (max-width: 1054px) {
  /* line 337, ../sass/mainmay13.scss */
  #selection .cubecream {
    width: 10%;
  }
}
@media screen and (max-width: 620px) {
  /* line 337, ../sass/mainmay13.scss */
  #selection .cubecream {
    display: none;
  }
}
/* line 348, ../sass/mainmay13.scss */
#selection .cubepalepink {
  background: #f0e0e2;
}
/* line 353, ../sass/mainmay13.scss */
#selection .cubesalmon {
  background: #fabfba;
}
/* line 357, ../sass/mainmay13.scss */
#selection .cubepurple {
  background: #c5c4f8;
}

/* line 381, ../sass/mainmay13.scss */
#green {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #81ffaf;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 381, ../sass/mainmay13.scss */
  #green {
    display: none;
  }
}

/* line 381, ../sass/mainmay13.scss */
#cream {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #fff6f1;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 381, ../sass/mainmay13.scss */
  #cream {
    display: none;
  }
}

/* line 381, ../sass/mainmay13.scss */
#pink {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #fac0ff;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 381, ../sass/mainmay13.scss */
  #pink {
    display: none;
  }
}

/* line 381, ../sass/mainmay13.scss */
#palepink {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #f0e0e2;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 381, ../sass/mainmay13.scss */
  #palepink {
    display: none;
  }
}

/* line 381, ../sass/mainmay13.scss */
#purple {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #c5c4f8;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 381, ../sass/mainmay13.scss */
  #purple {
    display: none;
  }
}

/* line 381, ../sass/mainmay13.scss */
#blue {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #d8f6ff;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 381, ../sass/mainmay13.scss */
  #blue {
    display: none;
  }
}

/*#triangle{
     margin:$centered;
  max-width:$page_width;
  height:auto;
  border:$border;
 }*/
/* ==========================================================================
   SVG Graphic
   ========================================================================== */
/* line 423, ../sass/mainmay13.scss */
svg {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  margin-left: 20%;
  padding-bottom: 0;
}

/* line 434, ../sass/mainmay13.scss */
#testT {
  float: none;
  clear: both;
  top: 10;
  margin-top: 2em;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 904px) {
  /* line 434, ../sass/mainmay13.scss */
  #testT {
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  /* line 434, ../sass/mainmay13.scss */
  #testT {
    width: 100%;
  }
}

/* ==========================================================================
   Content Section
   ========================================================================== */
/* line 461, ../sass/mainmay13.scss */
#content {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  filter: alpha(opacity=100);
  opacity: 1;
  min-height: 0;
}
@media screen and (max-width: 620px) {
  /* line 461, ../sass/mainmay13.scss */
  #content {
    width: auto;
  }
}
/* line 469, ../sass/mainmay13.scss */
#content .maincontainer {
  border: none;
  width: 85%;
  margin-top: 1em;
  margin: 1em auto;
}
/* line 475, ../sass/mainmay13.scss */
#content h1 {
  border: none;
  font-size: 2em;
  color: black;
  filter: alpha(opacity=100);
  opacity: 1;
}

/* ==========================================================================
   About Container
   ========================================================================== */
/* line 489, ../sass/mainmay13.scss */
#about {
  background: url("../images/ESCHERESQUE_STE.png") repeat fixed 100% 0 transparent;
  margin: 0 auto;
  min-height: 30em;
  height: auto;
  padding-top: 4.938em;
}
@media screen and (max-width: 850px) {
  /* line 489, ../sass/mainmay13.scss */
  #about {
    height: 50em;
  }
}
@media screen and (max-width: 780px) {
  /* line 489, ../sass/mainmay13.scss */
  #about {
    font-size: .9em;
  }
}

/* line 504, ../sass/mainmay13.scss */
.aboutContainer {
  line-height: .75em;
  vertical-align: baseline;
  margin: 0 auto;
  padding: 0;
  position: relative;
  max-width: 60em;
}
@media screen and (max-width: 850px) {
  /* line 504, ../sass/mainmay13.scss */
  .aboutContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

/* line 521, ../sass/mainmay13.scss */
.blurbContain {
  max-width: 28.750em;
  display: inline;
  float: left;
  margin-left: 0.625em;
  margin-right: 0.625em;
  vertical-align: baseline;
}
@media screen and (max-width: 780px) {
  /* line 521, ../sass/mainmay13.scss */
  .blurbContain {
    font-size: .8em;
  }
}
@media screen and (max-width: 600px) {
  /* line 521, ../sass/mainmay13.scss */
  .blurbContain {
    float: none;
    margin: 0 auto;
  }
}

/* line 538, ../sass/mainmay13.scss */
.blurbAbout {
  padding-right: 3.750em;
  color: white;
  font-weight: 100;
}
/* line 542, ../sass/mainmay13.scss */
.blurbAbout p {
  line-height: 1.438em;
  margin-bottom: 1.375em;
}
/* line 546, ../sass/mainmay13.scss */
.blurbAbout h3 {
  font-size: 2em;
  padding: 0;
  margin: 0;
  line-height: 2em;
  margin-bottom: .7em;
  text-transform: uppercase;
}
@media screen and (max-width: 860px) {
  /* line 538, ../sass/mainmay13.scss */
  .blurbAbout {
    padding: 0;
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
    width: 20em;
  }
}
@media screen and (max-width: 780px) {
  /* line 538, ../sass/mainmay13.scss */
  .blurbAbout {
    position: relative;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  /* line 538, ../sass/mainmay13.scss */
  .blurbAbout {
    float: none;
    margin: 0 auto;
  }
}

/* line 575, ../sass/mainmay13.scss */
.size22 {
  font-weight: 400;
  font-size: 1.375em;
  line-height: 1.938em;
}
/* line 579, ../sass/mainmay13.scss */
.size22 p {
  margin-bottom: 1.375em;
}

/* line 584, ../sass/mainmay13.scss */
.blurbRight {
  max-width: 28.750em;
  margin: 0;
  margin-top: 3em;
  margin-right: .625em;
  margin-left: 0.625em;
  font-size: .75em;
  font-weight: 400;
  vertical-align: baseline;
  display: block;
  float: left;
  display: inline;
}
@media screen and (max-width: 600px) {
  /* line 584, ../sass/mainmay13.scss */
  .blurbRight {
    float: none;
    margin: 0 auto;
    width: 50%;
  }
}

/* line 607, ../sass/mainmay13.scss */
.features {
  color: white;
  font-family: "Open Sans", sans-serif;
  line-height: .750em;
  vertical-align: baseline;
  margin: 0;
}
@media screen and (max-width: 600px) {
  /* line 607, ../sass/mainmay13.scss */
  .features {
    padding-top: 2em;
    width: 80%;
    margin: 0 auto;
  }
}
/* line 620, ../sass/mainmay13.scss */
.features ul {
  position: relative;
}
/* line 624, ../sass/mainmay13.scss */
.features li:after {
  background-color: pink;
  content: "";
  height: 100%;
  left: 2.375em;
  position: absolute;
  top: 1.063em;
  width: .063em;
  padding-bottom: 2.938em;
}
/* line 634, ../sass/mainmay13.scss */
.features .design {
  line-height: .75em;
}
/* line 637, ../sass/mainmay13.scss */
.features li p {
  top: .6em;
}
/* line 642, ../sass/mainmay13.scss */
.features li {
  position: relative;
}
/* line 645, ../sass/mainmay13.scss */
.features ul.features li:last-child:after {
  background-color: transparent;
}
/* line 648, ../sass/mainmay13.scss */
.features ol, .features ul {
  list-style: none outside none;
}
/* line 652, ../sass/mainmay13.scss */
.features h4 {
  font-size: 1.125em;
  line-height: 1.125em;
  margin-bottom: 0.750em;
  text-transform: uppercase;
  vertical-align: baseline;
  list-style-position: outside;
  border-image-width: 1 1 1 1;
  color: #88939A;
  font-weight: 400;
}
/* line 664, ../sass/mainmay13.scss */
.features p {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.438em;
}
/* line 673, ../sass/mainmay13.scss */
.features .icn {
  background-color: #89949B;
  border-radius: 100% 100% 100% 100%;
  display: block;
  float: left;
  height: 4.875em;
  left: 0;
  line-height: 4.750em;
  margin-right: 2.500em;
  position: absolute;
  text-align: center;
  top: 1.063em;
  transition: background 0.2s linear 0s;
  width: 4.875em;
  padding: 0;
  vertical-align: middle;
}
/* line 691, ../sass/mainmay13.scss */
.features li:after {
  background-color: #E8E8E8;
  content: '';
  position: absolute;
  left: 2.375em;
  top: 1.063em;
  height: 100%;
  width: 1px;
  line-height: 4.750em;
}

/* line 703, ../sass/mainmay13.scss */
ul.features {
  position: relative;
}

/* line 704, ../sass/mainmay13.scss */
ul.features li {
  padding-bottom: 2.938em;
  padding-left: 7.500em;
  position: relative;
}

/* line 711, ../sass/mainmay13.scss */
ul.features li:after {
  background-color: #E8E8E8;
  content: '';
  position: absolute;
  left: 2.375em;
  top: 1.063em;
  height: 100%;
  width: 1px;
  line-height: 4.750em;
}

/* line 721, ../sass/mainmay13.scss */
ul.features li:last-child:after {
  background-color: transparent;
  padding-bottom: 2.938em;
}

/* line 722, ../sass/mainmay13.scss */
ul.features li span.icn {
  background-color: #89949B;
  border-radius: 100% 100% 100% 100%;
  display: block;
  float: left;
  height: 4.875em;
  left: 0;
  line-height: 4.750em;
  margin-right: 2.50em;
  position: absolute;
  text-align: center;
  -webkit-transition: background 0.2s linear 0s;
  -moz-transition: background 0.2s linear 0s;
  -o-transition: background 0.2s linear 0s;
  -ms-transition: background 0.2s linear 0s;
  transition: background 0.2s linear 0s;
  top: 1.063em;
  width: 4.875em;
}

/* line 743, ../sass/mainmay13.scss */
ul.features li span.icn > span {
  vertical-align: middle;
}

/* line 744, ../sass/mainmay13.scss */
ul.features li span.icn > span.spritesheet.icnbranding {
  top: 0.250em;
}

/* line 746, ../sass/mainmay13.scss */
ul.features li span.icn:hover {
  background-color: #A1AEB7;
}

/* line 748, ../sass/mainmay13.scss */
.spritesheet {
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
}

/* line 753, ../sass/mainmay13.scss */
.spritesheet .icndesign {
  background-position: 0 -3.250em;
  height: 2.563em;
  width: 2.938em;
  vertical-align: middle;
  text-align: center;
}

/* ==========================================================================
   Web Work Container
   ========================================================================== */
/* line 765, ../sass/mainmay13.scss */
#webWork {
  margin: 0 auto;
  min-height: 50em;
  padding-top: 4.938em;
  line-height: 2em;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  display: block;
  color: #504A4B;
}

/* line 779, ../sass/mainmay13.scss */
.webContainer {
  width: 90%;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1em;
  line-height: 2em;
}
/* line 787, ../sass/mainmay13.scss */
.webContainer h2 {
  font-size: 2.4em;
  padding-bottom: 1em;
}
/* line 790, ../sass/mainmay13.scss */
.webContainer h2 h2:after {
  padding-left: 1em;
}
/* line 795, ../sass/mainmay13.scss */
.webContainer .webIcon {
  float: left;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1.4em;
}

/* line 803, ../sass/mainmay13.scss */
.icons {
  width: 80%;
  margin: 0 auto;
}
/* line 807, ../sass/mainmay13.scss */
.icons a {
  position: relative;
  display: block;
  height: relative;
  height: 18.625em;
}
/* line 815, ../sass/mainmay13.scss */
.icons a:hover:after {
  content: url("../images/hover.png");
  height: 16.625em;
  left: 0;
  position: absolute;
  width: 18.750em;
  opacity: 10;
}
/* line 823, ../sass/mainmay13.scss */
.icons img {
  padding: 1em;
  width: 18.250em;
  height: 16.750em;
}

/* ==========================================================================
   Resume
   ========================================================================== */
/* line 869, ../sass/mainmay13.scss */
.resume {
  margin-top: 2em;
  background: none;
  width: 100%;
  min-height: 10em;
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.625em;
  font-weight: 400;
  color: black;
  font-size: .813em;
}

/* line 883, ../sass/mainmay13.scss */
.resumeContainer {
  width: 90%;
  margin: 0 auto;
}

/* line 891, ../sass/mainmay13.scss */
#experience article {
  margin: 2.500em 3.750em;
}
/* line 893, ../sass/mainmay13.scss */
#experience article *::-moz-selection {
  background: none repeat scroll 0 0 #00FFF1;
  color: #444652;
  text-shadow: none;
}
/* line 898, ../sass/mainmay13.scss */
#experience article *::-moz-selection {
  background: none repeat scroll 0 0 #00FFF1;
  color: #444652;
  text-shadow: none;
}

/* line 905, ../sass/mainmay13.scss */
#experience {
  height: 70em;
}

/* line 908, ../sass/mainmay13.scss */
#experience h3 {
  letter-spacing: .098em;
  line-height: 1.125em;
}

/* line 910, ../sass/mainmay13.scss */
#experience hgroup {
  margin: 0;
}

/* line 911, ../sass/mainmay13.scss */
#experience .column-2 hgroup {
  margin: 0;
  line-height: 1.625em;
}

/* line 912, ../sass/mainmay13.scss */
#experience h6 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.375em;
  letter-spacing: .034em;
}

/* line 913, ../sass/mainmay13.scss */
#experience .column-1 {
  display: inline-block;
  width: 11.063em;
  vertical-align: top;
}
/* line 918, ../sass/mainmay13.scss */
#experience .column-1 h6 {
  font-size: .846em;
  letter-spacing: .55px;
  line-height: 2em;
}
/* line 923, ../sass/mainmay13.scss */
#experience .column-1 h3 {
  font-size: 1em;
  line-height: 1.385em;
  letter-spacing: .121em;
}

/* line 930, ../sass/mainmay13.scss */
#experience .column-2 {
  display: inline-block;
  line-height: 1.625em;
  margin-left: 3.563em;
  vertical-align: top;
  width: 36.250em;
}
/* line 936, ../sass/mainmay13.scss */
#experience .column-2 a {
  font-size: .563em;
  letter-spacing: .188em;
  text-transform: uppercase;
  line-height: .875em;
  text-align: center;
  width: 6.785em;
  height: .875em;
  float: right;
}
/* line 947, ../sass/mainmay13.scss */
#experience .column-2 p {
  margin: .813em 0;
  width: 36.250em;
  line-height: 1.6em;
}
/* line 952, ../sass/mainmay13.scss */
#experience .column-2 h3 {
  line-height: 1.385em;
  letter-spacing: .120em;
}
/* line 956, ../sass/mainmay13.scss */
#experience .column-2 h6 {
  font-size: .846em;
  letter-spacing: .55px;
  line-height: 2em;
}

/* line 962, ../sass/mainmay13.scss */
.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 58.75em;
  max-height: 1em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: .04em;
}
/* line 971, ../sass/mainmay13.scss */
.wrapper .resumeHeader {
  font-size: 2em;
  padding-top: 1em;
  position: relative;
}

/* line 977, ../sass/mainmay13.scss */
.collapsable {
  overflow: hidden;
  height: 40em;
}

/* line 978, ../sass/mainmay13.scss */
.collapsable header {
  padding-top: 1em;
  border: none;
  font-size: 2em;
  cursor: pointer;
  min-height: 2em;
  vertical-align: baseline;
}
/* line 981, ../sass/mainmay13.scss */
.collapsable header :hover {
  color: black;
}
/* line 988, ../sass/mainmay13.scss */
.collapsable header h2 {
  display: inline-block;
  position: Relative;
  padding-top: 0em;
}

/* line 1000, ../sass/mainmay13.scss */
.collapsable header:hover {
  background-color: #84939A;
  filter: alpha(opacity=0.6);
  opacity: 0.006;
  color: black;
}

/* line 1007, ../sass/mainmay13.scss */
.collapsable h2:hover {
  background: rgba(132, 147, 154, 0.9);
  background: white;
}

/* line 1013, ../sass/mainmay13.scss */
.close-btn {
  top: 0;
  vertical-align: middle;
  left: 20;
  display: inline-block;
}
/* line 1019, ../sass/mainmay13.scss */
.close-btn :hover {
  color: black;
}

/* line 1025, ../sass/mainmay13.scss */
.collapsable .close-btn:hover {
  background: url(../img/close-active.png) no-repeat;
}

/* ==========================================================================
   Footer
   ========================================================================== */
/* line 1034, ../sass/mainmay13.scss */
footer {
  border: none;
  margin: 0 auto;
  height: 5em;
  margin: 0 auto;
  max-width: 80em;
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 1034, ../sass/mainmay13.scss */
  footer {
    width: auto;
  }
}

/* line 1048, ../sass/mainmay13.scss */
#footer #ul {
  list-style: none;
  display: inline;
}

/* ==========================================================================
   Circle Effect 
   ========================================================================== */
/* line 1059, ../sass/mainmay13.scss */
.ch-grid {
  margin: 0px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 15.714em;
  border: none;
  float: left;
}

/* line 1072, ../sass/mainmay13.scss */
.ch-grid:after,
.ch-item:before {
  content: '';
  display: table;
}

/* line 1077, ../sass/mainmay13.scss */
.ch-grid:after {
  clear: both;
}

/* line 1081, ../sass/mainmay13.scss */
.ch-grid li {
  font-size: 14px;
  width: 13.714em;
  height: 13.714em;
  display: inline-block;
  margin: 0px;
}

/* line 1088, ../sass/mainmay13.scss */
ch-item {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

/* line 1100, ../sass/mainmay13.scss */
.ch-img-1 {
  background-image: url("../images/invert.png");
  background-size: 100%;
}

/* line 1104, ../sass/mainmay13.scss */
.ch-img-2 {
  background-image: url("../images/2.jpg");
}

/* line 1107, ../sass/mainmay13.scss */
.ch-img-3 {
  background-image: url("../images/3.jpg");
}

/* line 1112, ../sass/mainmay13.scss */
.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

/* line 1126, ../sass/mainmay13.scss */
.ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
  backface-visibility: hidden;
}

/* line 1138, ../sass/mainmay13.scss */
.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 65px 0 0 0;
  height: 7.857142885714286 em;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* line 1153, ../sass/mainmay13.scss */
.ch-info p {
  color: #fff;
  font-style: italic;
  margin: 0px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* line 1161, ../sass/mainmay13.scss */
.ch-info p a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  font-family: 'Open Sans', Arial, sans-serif;
}

/* line 1172, ../sass/mainmay13.scss */
.ch-info p a:hover {
  color: rgba(255, 242, 34, 0.8);
}

/* line 1176, ../sass/mainmay13.scss */
.ch-item:hover {
  box-shadow: inset 0 0 0 110px #ffe0d7, inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 1183, ../sass/mainmay13.scss */
.ch-item:hover .ch-info {
  opacity: 1;
  transform: scale(1);
}

/****END CIRCLE EFFECT ****/
