@import url(http://fonts.googleapis.com/css?family=Lato:100,400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*header{

    background-color: black;
    height: 2em;
    margin-top:-.1em;
    position: fixed;
    width: 100%;
    z-index: 10;
}*/
/* line 56, ../sass/screen.scss */
body {
  background: #ffe0d7;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background: url("../images/cubes.png") repeat fixed 60% 0 transparent;
  /* ==========================================================================
     Top Right Navigation
     ========================================================================== */
  	/*nav {
  	max-width: 20em;
  	border: $border;
  	float:right;
  	display:block;
   @media screen and (max-width: $small_width), only screen and (-webkit-min-device-pixel-ratio : 1.5),
  only screen and (min-device-pixel-ratio : 1.5) {
  
       float:none;
       margin-bottom:1em;
      }
  		a {
  		text-decoration:none;
  		color: $nav_color;
  		padding: 0 1em;
  		font-size:2em;
  		font-weight: 300;
  		}
  
  	
  }
  }*/
  /* ==========================================================================
     Always Visible Arrow
     ========================================================================== */
  /* ==========================================================================
     First Page
     ========================================================================== */
  /* ==========================================================================
     Intro Selection
     ========================================================================== */
  /* ==========================================================================
     Navigation
     ========================================================================== */
  /*#triangle{
       margin:$centered;
    max-width:$page_width;
    height:auto;
    border:$border;
   }*/
  /* ==========================================================================
     SVG Graphic
     ========================================================================== */
  /* ==========================================================================
     Content Section
     ========================================================================== */
  /* ==========================================================================
     About Container
     ========================================================================== */
  /* ==========================================================================
     Web Work Container
     ========================================================================== */
  /* ==========================================================================
     Resume
     ========================================================================== */
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 56, ../sass/screen.scss */
  body {
    width: 100%;
    margin: 0 auto;
  }
}
/* line 66, ../sass/screen.scss */
body #container {
  max-width: 80em;
  margin: 0 auto;
  margin-top: .5em;
  min-height: 50em;
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 66, ../sass/screen.scss */
  body #container {
    max-width: 100%;
    margin: 0 auto;
  }
}
/* line 78, ../sass/screen.scss */
body .clearfloat {
  float: none;
  clear: both;
}
/* line 116, ../sass/screen.scss */
body .trigger {
  color: black;
  left: 95%;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 50px;
  z-index: 100;
  text-decoration: none;
  border: none;
}
/* line 126, ../sass/screen.scss */
body .trigger i {
  border: none;
}
/* line 132, ../sass/screen.scss */
body a {
  border: none;
}
/* line 136, ../sass/screen.scss */
body .scroll a, body .hideclick a {
  color: black;
  border: 1px solid black;
}
/* line 139, ../sass/screen.scss */
body .scroll a a, body .scroll a i, body .hideclick a a, body .hideclick a i {
  text-decoration: none;
  border: 3px solid black;
}
/* line 153, ../sass/screen.scss */
body #home {
  margin: 0 auto;
  margin-top: .5em;
  max-width: 80em;
}
/* line 161, ../sass/screen.scss */
body #location {
  margin-left: -1em;
}
@media screen and (max-width: 868px) {
  /* line 161, ../sass/screen.scss */
  body #location {
    margin-left: -2em;
  }
}
/* line 173, ../sass/screen.scss */
body #intro {
  width: 16em;
  border: none;
  margin-left: 2em;
  float: left;
  margin-top: .5em;
  /*font-family:$lato;*/
  font-size: 3em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -3px;
}
@media screen and (max-width: 1215px) {
  /* line 173, ../sass/screen.scss */
  body #intro {
    width: auto;
    font-size: 2.8em;
  }
}
@media screen and (max-width: 1095px) {
  /* line 173, ../sass/screen.scss */
  body #intro {
    width: auto;
    font-size: 270%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 173, ../sass/screen.scss */
  body #intro {
    width: auto;
    font-size: 2.5em;
  }
}
@media screen and (max-width: 945px) {
  /* line 173, ../sass/screen.scss */
  body #intro {
    width: auto;
    font-size: 2.3em;
  }
}
@media screen and (max-width: 898px) {
  /* line 173, ../sass/screen.scss */
  body #intro {
    width: 60%;
    font-size: 2.2em;
  }
}
@media screen and (max-width: 868px) {
  /* line 173, ../sass/screen.scss */
  body #intro {
    width: 100%;
    font-size: 2em;
  }
}
@media screen and (max-width: 868px) {
  /* line 173, ../sass/screen.scss */
  body #intro {
    width: auto;
  }
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 173, ../sass/screen.scss */
  body #intro {
    display: none;
  }
}
/* line 217, ../sass/screen.scss */
body #intro h1::first-letter {
  font-weight: 300;
  /*font-size:1.6em;*/
  margin-left: -.8em;
}
@media screen and (max-width: 868px) {
  /* line 217, ../sass/screen.scss */
  body #intro h1::first-letter {
    width: auto;
    letter-spacing: -1px;
  }
}
/* line 227, ../sass/screen.scss */
body #intro #name {
  font-size: 1.4em;
  padding: .1em;
  vertical-align: baseline;
}
/* line 234, ../sass/screen.scss */
body #menuContaier {
  z-index: 10;
  position: relative;
}
/* line 239, ../sass/screen.scss */
body #menuContainer i:hover {
  color: #fac0ff;
  font-size: 4em;
}
/* line 242, ../sass/screen.scss */
body #menuContainer i:hover .menu {
  font-size: 4em;
}
/* line 247, ../sass/screen.scss */
body .menu {
  position: fixed;
  top: 0%;
  right: 0%;
  display: block;
  z-index: 20;
  padding: .2em;
  font-size: 3em;
  line-height: 1em;
  color: #81ffaf;
}
/* line 259, ../sass/screen.scss */
body .menu i {
  font-size: 3em;
  border: 1px solid black;
}
/* line 269, ../sass/screen.scss */
body #selection {
  display: block;
  border: none;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 269, ../sass/screen.scss */
  body #selection {
    font-size: 20px;
    width: 100%;
  }
}
/* line 279, ../sass/screen.scss */
body #selection a {
  color: black;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  font-variant: small-caps;
  letter-spacing: .1em;
}
/* line 286, ../sass/screen.scss */
body #selection .cube, body #selection .empty, body #selection .cubepink, body #selection .cubeblue, body #selection .cubecream, body #selection .cubepalepink, body #selection .cubesalmon, body #selection .cubepurple {
  position: relative;
  min-height: 3em;
  padding-top: 2em;
  text-align: center;
  width: 15.64%;
  /*13.3em*/
  background: #81ffaf;
  float: left;
  text-align: center;
}
@media screen and (max-width: 1054px) {
  /* line 286, ../sass/screen.scss */
  body #selection .cube, body #selection .empty, body #selection .cubepink, body #selection .cubeblue, body #selection .cubecream, body #selection .cubepalepink, body #selection .cubesalmon, body #selection .cubepurple {
    width: 20%;
  }
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 286, ../sass/screen.scss */
  body #selection .cube, body #selection .empty, body #selection .cubepink, body #selection .cubeblue, body #selection .cubecream, body #selection .cubepalepink, body #selection .cubesalmon, body #selection .cubepurple {
    font-size: 20px;
    width: 100%;
  }
}
/* line 304, ../sass/screen.scss */
body #selection .empty {
  background: none;
  height: 10.857em;
  display: block;
  vertical-align: baseline;
}
/* line 311, ../sass/screen.scss */
body #selection .cubepink {
  background: #fac0ff;
}
/* line 315, ../sass/screen.scss */
body #selection .cubeblue {
  background: #d8f6ff;
  width: 13%;
}
@media screen and (max-width: 1054px) {
  /* line 315, ../sass/screen.scss */
  body #selection .cubeblue {
    width: 10%;
  }
}
@media only screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 315, ../sass/screen.scss */
  body #selection .cubeblue {
    display: none;
  }
}
/* line 327, ../sass/screen.scss */
body #selection .cubecream {
  background: #fff6f1;
}
@media screen and (max-width: 1054px) {
  /* line 327, ../sass/screen.scss */
  body #selection .cubecream {
    width: 10%;
  }
}
@media screen and (max-width: 620px) {
  /* line 327, ../sass/screen.scss */
  body #selection .cubecream {
    display: none;
  }
}
/* line 338, ../sass/screen.scss */
body #selection .cubepalepink {
  background: #f0e0e2;
}
/* line 343, ../sass/screen.scss */
body #selection .cubesalmon {
  background: #fabfba;
}
/* line 347, ../sass/screen.scss */
body #selection .cubepurple {
  background: #c5c4f8;
}
/* line 371, ../sass/screen.scss */
body #green {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #81ffaf;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 371, ../sass/screen.scss */
  body #green {
    display: none;
  }
}
/* line 371, ../sass/screen.scss */
body #cream {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #fff6f1;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 371, ../sass/screen.scss */
  body #cream {
    display: none;
  }
}
/* line 371, ../sass/screen.scss */
body #pink {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #fac0ff;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 371, ../sass/screen.scss */
  body #pink {
    display: none;
  }
}
/* line 371, ../sass/screen.scss */
body #palepink {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #f0e0e2;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 371, ../sass/screen.scss */
  body #palepink {
    display: none;
  }
}
/* line 371, ../sass/screen.scss */
body #purple {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #c5c4f8;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 371, ../sass/screen.scss */
  body #purple {
    display: none;
  }
}
/* line 371, ../sass/screen.scss */
body #blue {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #d8f6ff;
  padding: 2em;
}
@media screen and (max-width: 620px) {
  /* line 371, ../sass/screen.scss */
  body #blue {
    display: none;
  }
}
/* line 413, ../sass/screen.scss */
body svg {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  margin-left: 20%;
  padding-bottom: 0;
    /* @media screen and (max-width: 904px) {

     } */
}
/* line 424, ../sass/screen.scss */
body #testT {
  float: none;
  clear: both;
  top: 10;
  margin-top: 2em;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 904px) {
  /* line 424, ../sass/screen.scss */
  body #testT {
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  /* line 424, ../sass/screen.scss */
  body #testT {
    width: 100%;
  }
}
/* line 446, ../sass/screen.scss */
body #content {
  max-width: 75.5em;
  min-height: 20em;
  border: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
  filter: alpha(opacity=100);
  opacity: 1;
  min-height: 0;
}
@media screen and (max-width: 620px) {
  /* line 446, ../sass/screen.scss */
  body #content {
    width: auto;
  }
}
/* line 453, ../sass/screen.scss */
body #content .maincontainer {
  border: none;
  width: 85%;
  margin-top: 1em;
  margin: 1em auto;
}
/* line 459, ../sass/screen.scss */
body #content h1 {
  border: none;
  font-size: 2em;
  color: black;
  filter: alpha(opacity=100);
  opacity: 1;
}
/* line 472, ../sass/screen.scss */
body #about {
  background: url("../images/ESCHERESQUE_STE.png") repeat fixed 100% 0 transparent;
  margin: 0 auto;
  min-height: 30em;
  height: auto;
  padding-top: 4.938em;
}
@media screen and (max-width: 850px) {
  /* line 472, ../sass/screen.scss */
  body #about {
    height: 50em;
  }
}
@media screen and (max-width: 780px) {
  /* line 472, ../sass/screen.scss */
  body #about {
    font-size: .9em;
  }
}
@media screen and (max-width: 580px) {
  /* line 472, ../sass/screen.scss */
  body #about {
    min-height: 90em;
  }
}
/* line 489, ../sass/screen.scss */
body .aboutContainer {
  line-height: .75em;
  vertical-align: baseline;
  margin: 0 auto;
  padding: 0;
  position: relative;
  max-width: 60em;
}
@media screen and (max-width: 850px) {
  /* line 489, ../sass/screen.scss */
  body .aboutContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}
/* line 506, ../sass/screen.scss */
body .blurbContain {
  max-width: 28.750em;
  display: inline;
  float: left;
  margin-left: 0.625em;
  margin-right: 0.625em;
  vertical-align: baseline;
}
@media screen and (max-width: 780px) {
  /* line 506, ../sass/screen.scss */
  body .blurbContain {
    font-size: .8em;
  }
}
@media screen and (max-width: 600px) {
  /* line 506, ../sass/screen.scss */
  body .blurbContain {
    float: none;
    margin: 0 auto;
  }
}
/* line 522, ../sass/screen.scss */
body .blurbAbout {
  padding-right: 3.750em;
  color: white;
  font-weight: 100;
}
/* line 526, ../sass/screen.scss */
body .blurbAbout p {
  line-height: 1.438em;
  margin-bottom: 1.375em;
}
/* line 530, ../sass/screen.scss */
body .blurbAbout h3 {
  font-size: 2em;
  padding: 0;
  margin: 0;
  line-height: 2em;
  margin-bottom: .7em;
  text-transform: uppercase;
}
@media screen and (max-width: 860px) {
  /* line 522, ../sass/screen.scss */
  body .blurbAbout {
    padding: 0;
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
    width: 20em;
  }
}
@media screen and (max-width: 780px) {
  /* line 522, ../sass/screen.scss */
  body .blurbAbout {
    position: relative;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  /* line 522, ../sass/screen.scss */
  body .blurbAbout {
    float: none;
    margin: 0 auto;
  }
}
/* line 558, ../sass/screen.scss */
body .size22 {
  font-weight: 400;
  font-size: 1.375em;
  line-height: 1.938em;
}
/* line 562, ../sass/screen.scss */
body .size22 p {
  margin-bottom: 1.375em;
}
/* line 567, ../sass/screen.scss */
body .blurbRight {
  max-width: 28.750em;
  margin: 0;
  margin-top: 3em;
  margin-right: .625em;
  margin-left: 0.625em;
  font-size: .75em;
  font-weight: 400;
  vertical-align: baseline;
  display: block;
  float: left;
  display: inline;
}
@media screen and (max-width: 600px) {
  /* line 567, ../sass/screen.scss */
  body .blurbRight {
    float: none;
    margin: 0 auto;
    width: 50%;
  }
}
/* line 586, ../sass/screen.scss */
body .features {
  color: white;
  font-family: "Open Sans", sans-serif;
  line-height: .750em;
  vertical-align: baseline;
  margin: 0;
}
@media screen and (max-width: 600px) {
  /* line 586, ../sass/screen.scss */
  body .features {
    padding-top: 2em;
    width: 80%;
    margin: 0 auto;
  }
}
/* line 597, ../sass/screen.scss */
body .features ul {
  position: relative;
}
/* line 600, ../sass/screen.scss */
body .features li:after {
  background-color: pink;
  content: "";
  height: 100%;
  left: 2.375em;
  position: absolute;
  top: 1.063em;
  width: .063em;
  padding-bottom: 2.938em;
}
/* line 610, ../sass/screen.scss */
body .features .design {
  line-height: .75em;
}
/* line 613, ../sass/screen.scss */
body .features li p {
  top: .6em;
}
/* line 616, ../sass/screen.scss */
body .features li {
  position: relative;
}
/* line 619, ../sass/screen.scss */
body .features ul.features li:last-child:after {
  background-color: transparent;
}
/* line 622, ../sass/screen.scss */
body .features ol, body .features ul {
  list-style: none outside none;
}
/* line 626, ../sass/screen.scss */
body .features h4 {
  font-size: 1.125em;
  line-height: 1.125em;
  margin-bottom: 0.750em;
  text-transform: uppercase;
  vertical-align: baseline;
  list-style-position: outside;
  border-image-width: 1 1 1 1;
  color: #88939A;
  font-weight: 400;
}
/* line 637, ../sass/screen.scss */
body .features p {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.438em;
}
/* line 643, ../sass/screen.scss */
body .features li:after {
  background-color: #E8E8E8;
  content: '';
  position: absolute;
  left: 2.375em;
  top: 1.063em;
  height: 100%;
  width: 1px;
  line-height: 4.750em;
}
/* line 656, ../sass/screen.scss */
body ul.features {
  position: relative;
}
/* line 660, ../sass/screen.scss */
body ul.features li {
  padding-bottom: 2.938em;
  padding-left: 7.500em;
  position: relative;
}
/* line 666, ../sass/screen.scss */
body ul.features li:after {
  background-color: #E8E8E8;
  content: '';
  position: absolute;
  left: 2.375em;
  top: 1.063em;
  height: 100%;
  width: 1px;
  line-height: 4.750em;
}
/* line 677, ../sass/screen.scss */
body ul.features li:last-child:after {
  background-color: transparent;
  padding-bottom: 2.938em;
}
/* line 682, ../sass/screen.scss */
body ul.features li span.icn {
  background-color: #89949B;
  border-radius: 100% 100% 100% 100%;
  display: block;
  float: left;
  height: 4.875em;
  left: 0;
  line-height: 4.750em;
  margin-right: 2.50em;
  position: absolute;
  text-align: center;
  -webkit-transition: background 0.2s linear 0s;
  -moz-transition: background 0.2s linear 0s;
  -o-transition: background 0.2s linear 0s;
  -ms-transition: background 0.2s linear 0s;
  transition: background 0.2s linear 0s;
  top: 1.063em;
  width: 4.875em;
}
/* line 703, ../sass/screen.scss */
body ul.features li span.icn > span {
  vertical-align: middle;
}
/* line 706, ../sass/screen.scss */
body ul.features li span.icn > span.spritesheet.icnbranding {
  top: 0.250em;
}
/* line 710, ../sass/screen.scss */
body ul.features li span.icn:hover {
  background-color: #A1AEB7;
}
/* line 714, ../sass/screen.scss */
body .container {
  width: 3%;
  border: 1px solid red;
  margin: 0 auto;
  padding-top: 3em;
}
/* line 722, ../sass/screen.scss */
body .down {
  color: white;
  font-size: 3em;
  padding-top: 3em;
  width: 3%;
  margin: 0 auto;
  position: relative;
}
/* line 735, ../sass/screen.scss */
body #webWork {
  margin: 0 auto;
  min-height: 50em;
  padding-top: 4.938em;
  line-height: 2em;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  display: block;
  color: #504A4B;
}
/* line 749, ../sass/screen.scss */
body .webIcon {
  float: left;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1.4em;
}
@media screen and (max-width: 600px) {
  /* line 749, ../sass/screen.scss */
  body .webIcon {
    width: auto;
    padding: 0;
    margin: 0;
  }
}
/* line 762, ../sass/screen.scss */
body .icons {
  width: 80%;
  margin: 0 auto;
}
/* line 766, ../sass/screen.scss */
body .icons a {
  position: relative;
  display: block;
  height: relative;
  height: 18.625em;
}
/* line 774, ../sass/screen.scss */
body .icons a:hover:after {
  content: url("../images/hover.png");
  height: 16.625em;
  left: 0;
  position: absolute;
  width: 18.750em;
  opacity: 10;
}
/* line 782, ../sass/screen.scss */
body .icons img {
  padding: 1em;
  width: 18.250em;
  height: 16.750em;
}
@media screen and (max-width: 600px) {
  /* line 782, ../sass/screen.scss */
  body .icons img {
    width: auto;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  /* line 762, ../sass/screen.scss */
  body .icons {
    width: 30%;
    padding: 0;
    margin: 0;
  }
}
/* line 840, ../sass/screen.scss */
body .resume {
  margin-top: 2em;
  background: url("../images/ESCHERESQUE_STE.png") repeat fixed 100% 0 transparent;
  width: 100%;
  min-height: 10em;
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.625em;
  font-weight: 400;
  color: black;
  font-size: .813em;
}
@media screen and (max-width: 600px) {
  /* line 840, ../sass/screen.scss */
  body .resume {
    display: block;
  }
}
/* line 857, ../sass/screen.scss */
body .resumeContainer {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  /* line 857, ../sass/screen.scss */
  body .resumeContainer {
    width: auto;
    padding: 0;
    margin: 0;
  }
}
/* line 882, ../sass/screen.scss */
body #experience article {
  margin: 2.500em 3.750em;
}
/* line 884, ../sass/screen.scss */
body #experience article *::-moz-selection {
  background: none repeat scroll 0 0 #00FFF1;
  color: #444652;
  text-shadow: none;
}
/* line 889, ../sass/screen.scss */
body #experience article *::-moz-selection {
  background: none repeat scroll 0 0 #00FFF1;
  color: #444652;
  text-shadow: none;
}
/* line 898, ../sass/screen.scss */
body #experience {
  background: url("../images/ESCHERESQUE.png") repeat fixed 100% 0 transparent;
  height: 80em;
}
@media screen and (max-width: 600px) {
  /* line 898, ../sass/screen.scss */
  body #experience {
    display: block;
  }
}
/* line 905, ../sass/screen.scss */
body #experience .column-1 {
  display: inline-block;
  width: 11.063em;
  vertical-align: top;
}
/* line 909, ../sass/screen.scss */
body #experience .column-1 h6 {
  font-size: .846em;
  letter-spacing: .55px;
  line-height: 2em;
}
/* line 914, ../sass/screen.scss */
body #experience .column-1 h3 {
  font-size: 1em;
  line-height: 1.385em;
  letter-spacing: .121em;
}
/* line 920, ../sass/screen.scss */
body #experience h3 {
  letter-spacing: .098em;
  line-height: 1.125em;
}
/* line 924, ../sass/screen.scss */
body #experience hgroup {
  margin: 0;
}
/* line 927, ../sass/screen.scss */
body #experience h6 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.375em;
  letter-spacing: .034em;
}
/* line 934, ../sass/screen.scss */
body #experience .column-2 {
  display: inline-block;
  line-height: 1.625em;
  margin-left: 3.563em;
  vertical-align: top;
  width: 36.250em;
}
/* line 940, ../sass/screen.scss */
body #experience .column-2 a {
  font-size: .563em;
  letter-spacing: .188em;
  text-transform: uppercase;
  line-height: .875em;
  text-align: center;
  width: 6.785em;
  height: .875em;
  float: right;
}
/* line 951, ../sass/screen.scss */
body #experience .column-2 p {
  margin: .813em 0;
  width: 36.250em;
  line-height: 1.6em;
}
/* line 956, ../sass/screen.scss */
body #experience .column-2 h3 {
  line-height: 1.385em;
  letter-spacing: .120em;
}
/* line 960, ../sass/screen.scss */
body #experience .column-2 h6 {
  font-size: .846em;
  letter-spacing: .55px;
  line-height: 2em;
}
/* line 968, ../sass/screen.scss */
body #experience .wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-height: 1em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: .04em;
}
/* line 978, ../sass/screen.scss */
body #experience .wrapper .resumeHeader {
  font-size: 2em;
  padding-top: 1em;
  position: relative;
}
/* line 988, ../sass/screen.scss */
body .resume-btn {
  padding: 0;
}
/* line 991, ../sass/screen.scss */
body .collapsable {
  overflow: hidden;
  height: 60em;
}
/* line 994, ../sass/screen.scss */
body .collapsable header {
  background: url("../images/ESCHERESQUE_STE.png") repeat fixed 100% 0 transparent;
  color: white;
  font-weight: 100;
  float: none;
  text-align: center;
  margin: 0 auto;
  padding-top: 1em;
  font-size: 2em;
  cursor: pointer;
  min-height: 2em;
  vertical-align: baseline;
}
/* line 1006, ../sass/screen.scss */
body .collapsable header h2 {
  display: inline-block;
  position: relative;
  padding-top: 0em;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 0 auto;
}
/* line 1014, ../sass/screen.scss */
body .collapsable header i {
  margin-left: .5em;
  color: white;
  font-size: 1.5em;
}
/* line 1020, ../sass/screen.scss */
body .collapsable header:hover {
  background: url("../images/ESCHERESQUE.png") repeat fixed 100% 0 transparent;
  color: black;
}
/* line 1023, ../sass/screen.scss */
body .collapsable header:hover i {
  color: black;
}
/* line 1027, ../sass/screen.scss */
body .collapsable h2:hover {
  background: resume(0.9);
}
/* line 1030, ../sass/screen.scss */
body .collapsable .close-btn:hover {
  background: url(../img/close-active.png) no-repeat;
}

/* line 1037, ../sass/screen.scss */
.close-btn {
  top: 0;
  vertical-align: middle;
  left: 20;
  display: inline-block;
}
/* line 1042, ../sass/screen.scss */
.close-btn :hover {
  color: black;
}

/* ==========================================================================
   Footer
   ========================================================================== */
/* line 1055, ../sass/screen.scss */
footer {
  border: none;
  margin: 0 auto;
  height: 5em;
  margin: 0 auto;
  max-width: 80em;
}
@media screen and (max-width: 620px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 1055, ../sass/screen.scss */
  footer {
    width: auto;
  }
}

/* line 1068, ../sass/screen.scss */
#footer #ul {
  list-style: none;
  display: inline;
}

/* ==========================================================================
   Circle Effect 
   ========================================================================== */
/* line 1076, ../sass/screen.scss */
.ch-grid {
  margin: 0px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 15.714em;
  border: none;
  float: left;
}

/* line 1089, ../sass/screen.scss */
.ch-grid:after,
.ch-item:before {
  content: '';
  display: table;
}

/* line 1094, ../sass/screen.scss */
.ch-grid:after {
  clear: both;
}

/* line 1098, ../sass/screen.scss */
.ch-grid li {
  font-size: 14px;
  width: 13.714em;
  height: 13.714em;
  display: inline-block;
  margin: 0px;
}

/* line 1106, ../sass/screen.scss */
.ch-item {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

/* line 1118, ../sass/screen.scss */
.ch-img-1 {
  background-image: url("../images/invert.png");
  background-size: 100%;
}

/* line 1122, ../sass/screen.scss */
.ch-img-2 {
  background-image: url("../images/2.jpg");
}

/* line 1125, ../sass/screen.scss */
.ch-img-3 {
  background-image: url("../images/3.jpg");
}

/* line 1130, ../sass/screen.scss */
.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

/* line 1144, ../sass/screen.scss */
.ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
  backface-visibility: hidden;
}

/* line 1156, ../sass/screen.scss */
.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 65px 0 0 0;
  height: 7.857142885714286 em;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* line 1171, ../sass/screen.scss */
.ch-info p {
  color: #fff;
  font-style: italic;
  margin: 0px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* line 1179, ../sass/screen.scss */
.ch-info p a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  font-family: 'Open Sans', Arial, sans-serif;
}

/* line 1190, ../sass/screen.scss */
.ch-info p a:hover {
  color: rgba(255, 242, 34, 0.8);
}

/* line 1194, ../sass/screen.scss */
.ch-item:hover {
  box-shadow: inset 0 0 0 110px #ffe0d7, inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 1201, ../sass/screen.scss */
.ch-item:hover .ch-info {
  opacity: 1;
  transform: scale(1);
}
